.itemList li a,
#campaign ul,
#info,
.promo ul,
.single a {zoom:1;}
.itemList li a:after,
#campaign ul:after,
#info:after,
.promo ul:after,
.single a:after {content: ""; display: block; clear: both;}

#maintenance {background: #f5f2e9; margin:10px auto 0; padding:10px; width:860px; border-radius: 5px;}
#maintenance dt {font-weight: bold; margin-bottom: 5px;}
#maintenance dd p {margin-bottom: 5px;}
#maintenance dd li {list-style: disc; margin-left: 1.5em;}
#maintenance dd a {font-weight: bold; text-decoration: underline; line-height: 2;}

#snBanner {display:none;} 

#snCategory,
#sideLink,
#importantNotice {margin-bottom: 25px;}

#sideNav #snCategory li {border-top: 1px solid #E6E6E6; border-bottom: 0;}

#sideLink li a{display: block; padding: 10px 0; border-top: 1px solid #e6e6e6;}
#sideLink li a {
-webkit-transition: all .2s ease;
   -moz-transition: all .2s ease;
     -o-transition: all .2s ease;
        transition: all .2s ease;
}
#sideLink li a:hover {background: #E8E8E8;
-webkit-transition: 0;
   -moz-transition: 0;
     -o-transition: 0;
        transition: 0;
}

#importantNotice h2{font-size: 12px; text-indent: 0; line-height: 1.5; border-bottom: 1px solid #666;}
#importantNotice .moreLink {font-size: 10px; margin-top: -18px; text-align: right;}
#importantNotice dl{overflow:hidden;_zoom:1;font-size:11px; margin-top: 15px;}
#importantNotice dt{padding-top:5px;}
#importantNotice dl dd{padding: 2px 0 5px; border-bottom: 1px solid #e8e8e8;}
#importantNotice dl dd a{text-decoration:none;}

h1, #campaign h2 {display:none;}
#main h2{border-bottom: 1px solid #666; margin-bottom: 15px; padding-bottom: 10px;}
#recommend h2,
#manualrecommend h2,
#valuePrice h2,
#popular h2 {height: 20px; background-repeat: no-repeat; text-indent: -9999px; overflow: hidden; background-image: url(/img/store/top/title_top.png);}
#recommend h2{background-position:0 -240px;}
#manualrecommend h2{background-position:0 -280px;}
#manualrecommend h2.type2{background-position:0 -360px;}
#valuePrice h2{background-position:0 -80px;}
#popular h2{background-position:0 -120px;}

#campaign {margin-bottom: 15px;}
#campaign ul {overflow: hidden; margin-right: -10px;}
#campaign li {float: left; margin: 0 10px 10px 0;}
#campaign li span {display: block; background-color: #f4f4f4;}
#campaign li a {display: block; width: 130px; text-decoration: none; background: #000;}
#campaign li a:hover {cursor: pointer;}
#campaign li:first-child a,
#campaign li.first a {width: 420px;}
#campaign li a img {vertical-align:bottom; 
-webkit-transition: all .2s ease;
   -moz-transition: all .2s ease;
     -o-transition: all .2s ease;
        transition: all .2s ease;
}
#campaign li a:hover img {
-webkit-transition: 0;
   -moz-transition: 0;
     -o-transition: 0;
        transition: 0;
filter: alpha(opacity=80);
-moz-opacity:0.8;
opacity:0.8;
}
#campaign span {font-weight: bold; padding: 7px 8px; line-height: 1.3; height: 31px; _height: 32px;}
#campaign li:first-child span,
#campaign .first span {padding: 7px 8px 6px; height: 32px; _height: 34px;}
#campaign li:first-child span .desc,
#campaign .first .desc {padding: 0; height: 15px; font-weight: normal;}
#campaign .sub {font-size: 10px; font-weight: normal; margin-bottom: 2px; padding: 0; height: auto;}
#campaign .moreLink {text-align:right; margin-right: 2px; *margin-top: 10px; _margin-top: 0;}

/*#campaign .first span {background: #f9f9f9; padding: 8px 0 5px; text-align: center;}
#campaign .first span .desc {background: #f9f9f9; display: inline-block; margin-left: 10px;}*/

#info {margin-bottom: 25px;}

#news {float: left; width: 520px; background: #f1f1f1; -moz-border-radius: 4px; border-radius: 4px;}
#news .important {border-bottom: 1px solid #e5e5e5;}
#news .important .status {display: inline-block; padding: 2px 3px 1px; *padding: 1px 2px 3px; font-size: 10px; color: #fff; background-color: #000; margin: -1px 5px 0 0; vertical-align: top;
-moz-border-radius: 3px; border-radius: 3px;}
#news dl{overflow: hidden; _zoom: 1; padding: 10px 10px 5px;}
#news dt{float: left; clear: both; margin: 0 10px 5px 0;}
#news dt,
#importantNotice dt {color: #999; font-weight: bold; font-family: "Helvetica","Lucida Grande","Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W6","メイリオ",Meiryo,"ＭＳ Ｐゴシック",sans-serif;}
#news dd {margin-bottom: 5px;}
#news a{text-decoration:none;}

#news .newsButton a{display: block; padding: 6px 0; font-size: 10px; text-align: center; -moz-border-radius: 0 4px 4px; border-radius: 0 0 4px 4px;}
#news .newsButton a{background: #e1e1e1; color: #333;}
#news .newsButton a:hover{background: #999; color: #fff;}
#news .newsButton strong{padding-left:10px; background: url(/img/store/top/icon_openclose.png) no-repeat;}
#news .newsButton a strong{background-position: 0 3px;}
#news .newsButton a:hover strong{background-position: 0 -47px;}
#news #storeNewsClose a strong{background-position: 0 -97px;}
#news #storeNewsClose a:hover strong{background-position: 0 -147px;}
#news .more, #storeNewsClose{display:none;}

#adArea {float: right;}
#adArea ul {position: relative;}
#adPanel li {position: absolute; top:0; left:0; display: none; background: #000;}
#adPanel li.active {display: block;}
#adPanel li a img {
-webkit-transition: all .2s ease;
   -moz-transition: all .2s ease;
     -o-transition: all .2s ease;
        transition: all .2s ease;
}
#adPanel li a:hover img {filter: alpha(opacity=80); opacity:0.8;
-webkit-transition: 0;
   -moz-transition: 0;
     -o-transition: 0;
        transition: 0;
}
#adThumbnail {width: 160px; margin-top: 167px; text-align: center;}
#adThumbnail li {display: inline; margin: 0 5px;}
#adThumbnail li a {background: url("/img/store/top/adbtn.png") no-repeat 0 0; width:10px; height: 10px;}
#adThumbnail li.active a { background: url("/img/store/top/adbtn_active.png") no-repeat 0 0;}
#adThumbnail li a:hover { background: url("/img/store/top/adbtn_active.png") no-repeat 0 0;}
#adArea li img {vertical-align: bottom;}

#recommend,
#manualrecommend {clear: both; margin-bottom: 25px;}
#recommend .itemList ul,
#manualrecommend .itemList ul{margin-right:-20px; letter-spacing:-.40em;}
#recommend .itemList li,
#manualrecommend .itemList li{display: -moz-inline-box; display: inline-block; *display: inline; *zoom:1; width: 160px; margin: 0 20px 10px 0; vertical-align: top; letter-spacing: normal;}
#manualrecommend .itemList li{position: relative; width: 105px; padding-left: 55px;}
#manualrecommend .itemList img{position: absolute; left: 0; top: 0; width: 50px; height: 50px; -ms-interpolation-mode: bicubic;}

.itemList a{text-decoration:none;}
.itemList .thumb{float:left;*cursor:pointer;margin-right:5px;}
.itemList .desc{padding-left:55px;display:block;}
.itemList .name{font-size:11px;text-decoration:underline;}
.itemList .price{margin-top:5px;display:block;color:#000;}

#history {clear: both; border: solid #ccc; border-width: 1px 0 0; padding: 5px 0 0; margin-bottom: 0;}
#history h2 {padding: 0 5px 5px; border-bottom: 1px solid #e8e8e8; font-size: 14px;}
#history .itemList{margin-bottom:0;}
#history .itemList ul{letter-spacing:-.40em;}
#history .itemList li{display:-moz-inline-box;display:inline-block;*display:inline;*zoom:1;width:150px;margin:0 5px;vertical-align:top;letter-spacing:normal;}
#history .itemList a{text-decoration:none;}
#history .itemList .thumb{float:left;*cursor:pointer; margin-right:5px;}
#history .itemList .desc{padding-left:55px;display:block;}
#history .itemList .name{font-size:11px;text-decoration:underline;}
#history .itemList .price{margin-top:5px;display:block;color:#000;}
#history .btn{width:20px;font-size:10px;line-height:60px;}
#history .prev{float:left;}
#history .next{float:right;}
#history .disabled a{background:#ccc;cursor:default;}


#clothes, #life, #food {margin-bottom: 25px; padding: 20px 20px 0; border: 1px solid #ccc; -moz-border-radius: 4px; border-radius: 4px; *width: 658px; _overflow: hidden;}
#clothes h2,
#life h2,
#food h2 {border-bottom: 1px solid #666; height: 21px; overflow: hidden; text-indent: -9999px; margin-bottom: 15px; padding-bottom: 10px;}
#clothes h2 {background: url(/img/store/top/title_clothes.png) no-repeat;}
#life h2 {background: url(/img/store/top/title_life.png) no-repeat;}
#food h2 {background: url(/img/store/top/title_food.png) no-repeat;}
#clothes h3,
#life h3,
#food h3 {padding-bottom: 5px; margin-bottom: 0;}
#clothes h4,
#life h4,
#food h4 {padding: 3px 0 0 0; font-weight: bold;}
#clothes a,
#life a,
#food a {display: block; text-decoration: none;}
#clothes .moreLink a,
#life .moreLink a,
#food .moreLink a,
#manualrecommend .moreLink a { margin-top: -45px; float: right; font-size: 12px; text-decoration: underline;}
.promo {margin-bottom: 20px;}
.promo .figure {background: #000;}
.promo ul {margin-right: -10px;}
.promo li {float: left; margin-right: 10px;}
.promo.single .figure {float: left; margin-right: 10px;}
.promo a img {
-webkit-transition: all .2s ease;
   -moz-transition: all .2s ease;
     -o-transition: all .2s ease;
        transition: all .2s ease;
}
.promo a:hover img {filter: alpha(opacity=80); opacity:0.8;
-webkit-transition: 0;
   -moz-transition: 0;
     -o-transition: 0;
        transition: 0;
}
.column2 li {width: 324px;}
.column3 li {width: 212px;}
.column4 li {width: 157px;}

time {color: #999;font-family: Arial; margin-right: 3px;}
.update {color: #999; font-weight: normal; padding: 1px 2px 2px; *padding: 0px 2px 3px; font-size: 10px; line-height: 10px; margin-left: 5px;}

.promo .unpublish h4 {color:#999;}
.promo .unpublish .figure {background:#ccc;}
.unpublish img {filter: alpha(opacity=20); opacity:0.2;display:block;
-webkit-transition: 0;
   -moz-transition: 0;
     -o-transition: 0;
        transition: 0;
}

#food .newItem {margin-bottom: 10px;}
#food .newItem h3 {border-bottom: 1px solid #E8E8E8; padding-bottom: 5px; margin-bottom: 5px; font-size: 12px;}
#food .itemList{margin-bottom:0;}
#food .itemList ul{letter-spacing:-.40em; margin-bottom: 15px;}
#food .itemList li{display:-moz-inline-box;display:inline-block;*display:inline;*zoom:1;width:54px;_width:53px;margin:0 5px;vertical-align:top;letter-spacing:normal;}
#food .itemList a{text-decoration:none;}
#food .btn{width:20px;font-size:10px;line-height:46px;}
#food .prev{float:left;}
#food .next{float:right;}
#food .disabled a{background:#ccc;cursor:default;}
#food span.name, #food span.price {display: none;}
#food span.thumb {width: 55px;}
#food span.thumb img {width: 50px; height: 50px; margin-bottom: 15px; -ms-interpolation-mode: bicubic;}
.foodTip {width: 200px;}
.foodTip .content {width: 170px; padding: 7px; -moz-border-radius: 3px; -webkit-border-radius: 3px; -ms-border-radius: 3px; border-radius: 3px; background: #000; color: #fff;
opacity: .80;
filter: alpha(opacity=80);
-ms-filter: "alpha(opacity=80)";
zoom:1;
text-align: center;
font-size:10px;
}

#valuePrice {margin-bottom: 25px;}
#valuePrice ul {margin-right: -9px; letter-spacing: -.40em;}
#valuePrice li {vertical-align: top; letter-spacing: normal; display: -moz-inline-box; display: inline-block; *display: inline; *zoom: 1;
width: 98px; padding-left: 9px; margin-left: 9px; text-align: center; border-left: 1px solid #E8E8E8;}
#valuePrice li:first-child {border-left: 0; margin-left: 0; padding-left: 8px;}
#valuePrice li a {text-decoration: none;}
#valuePrice li a dt {display: block; padding: 5px; margin-bottom: 3px;
-webkit-transition: all .2s ease;
   -moz-transition: all .2s ease;
     -o-transition: all .2s ease;
        transition: all .2s ease;
}
#valuePrice li a:hover dt {background: #E8E8E8; -moz-border-radius: 3px; border-radius: 3px;
-webkit-transition: 0;
   -moz-transition: 0;
     -o-transition: 0;
        transition: 0;
}
#valuePrice a img {width: 88px; height: 88px;}

#sideNav #snCategory .D00011 h3 {margin-left: 3px;}
#sideNav #snCategory ul li.D00011 {background: #f7f7f7;}
#sideNav #snCategory ul li.D00011 ul li {padding: 0 5px 0 0;}
/*
#sideNav #snCategory ul li.D00011 ul {margin-right: -10px; letter-spacing: -.20em;}
#sideNav #snCategory ul li.D00011 ul li {position: relative; margin: 0 10px 10px 0; width: 70px; float: left;}
#sideNav #snCategory ul li.D00011 ul li a {background: none; padding: 0; border: 1px solid #ccc; width: 68px;vertical-align: top; letter-spacing: normal;}

#sideNav #snCategory ul li.D00011 {zoom:1;}
#sideNav #snCategory ul li.D00011:after {content: ""; display: block; clear: both;}
*/