
/* clearfix */
#cardinfo dd {zoom:1;}
#cardinfo dd:after {content:" ";display:block;visibility:hidden;clear:both;height:.1px;font-size:.1em;line-height:0;}

table.horizontal{width:100%;}
.num{margin-right:5px;}
.total .num{margin-left:5px;}
.prevNext{margin-top:20px;}
.prevNext .next{width:170px;margin-left:265px;text-align:center;}
.annotation {font-size: 90%; color:666; margin: 10px 0;}

td{text-align:center;}
h1{height:27px;margin:20px 0;background-repeat:no-repeat;text-indent:-9999px;overflow:hidden;}
body#couponList h1{background-image:url(/img/store/account/coupon/title_coupon.png);}
body#couponHistory h1{background-image:url(/img/store/account/coupon/title_couponhistory.png);}

#cardinfo {float: right; width: 45%;}
#cardinfo dt {float: left; margin: 0 10px 5px 0; font-weight: bold;}
#cardinfo dd {margin-bottom: 5px; }
#couponList .message {margin-bottom: 20px;}
.detaillink {font-size: 11px;}