@charset "utf-8";

/*----------------------------------------------------
 elements
----------------------------------------------------*/
body {
/*font-family: ArialMT, "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", メイリオ, sans-serif;*/
line-height: 1.5;
-webkit-text-size-adjust: none; /* フォントサイズ自動調整 */
}

/* a {-webkit-tap-highlight-color: rgba(200,200,555,.6);} */
a:link {text-decoration: none;}
a:visited {text-decoration: none;}

img {vertical-align: top;}



#pageEnd:after {content: "."; display: block; visibility: hidden; clear: both; height: 0; font-size: 0; line-height: 0;}

/* breadcrumbs reset */

		#breadcrumbs {padding-top: 10px;}
		#breadcrumbs ol {height: auto; background: none;}
		#breadcrumbs li {float: left; padding: 0; line-height: auto; background: none;}
		#breadcrumbs a {text-decoration: none; background: none;}
		#breadcrumbs a:hover {background: none;}


/* breadcrumbs back */
		#breadcrumbs a {
			display: block;
			cursor: pointer;
			font-size: 11px;
			line-height: 24px;
			height: 24px;
			-webkit-box-sizing: border-box;
			-webkit-border-radius: 5px;
			background-image: 
				-webkit-gradient(linear, left top, left bottom, 
					from(#666),
					color-stop(0.5, #555),
					color-stop(0.5, #222),
					to(#222)); 
			color: #fff;
			-webkit-tap-highlight-color: transparent;
			-webkit-user-select: none;
			padding: 0px 5px 0px 7px; margin-left: 12px;
			position: relative;
		}
		#breadcrumbs a:hover {
			background-image: 
				-webkit-gradient(linear, left top, left bottom, 
					from(#4286f5),
					color-stop(0.5, #4286f5),
					color-stop(0.5, #194fdb),
					to(#194fdb)); 
			-webkit-tap-highlight-color: transparent;
		}
		/* End Bordered Button Styles */


#breadcrumbs a:before {
	content: " ";
	display: block;
	z-index: -1;
	background-image:
		-webkit-gradient(linear, left top, right bottom,
					from(#666),
					color-stop(0.5, #555), 
					color-stop(0.5, #222),
					to(#222)); 

	-webkit-border-radius: 3px;
	height: 18px;
	width: 18px;
	display: inline-block;
	-webkit-transform: rotate(45deg);

	position: absolute;
	left: -6.5px;
	top: 3px;
	-webkit-background-clip: content;
}
#breadcrumbs a:hover:before {
	background-image:
		-webkit-gradient(linear, left top, right bottom,
			from(#7d88a5),
			color-stop(0.3, #58698c),
			color-stop(0.51, #3a4e78),
			color-stop(0.51, #253c6a),
			color-stop(0.75, #273f6d),
			to(#273f6d));
}


/*----------------------------------------------------
 layout
----------------------------------------------------*/
#header,
#headerWrap,
#storeHeader,
#storeHeaderWrap,
.content,
#footer,
#footerWrap {width: 320px; margin: 0 auto; padding: 0; overflow: hidden;}
#headerWrap,
#storeHeaderWrap {min-width:320px;}

.content {position: relative;}

/*----------------------------------------------------
landscape
----------------------------------------------------*/
@media all and (orientation:landscape) {
#header,
#headerWrap,
#storeHeader,
#storeHeaderWrap,
.content,
#footer,
#footerWrap {width: 480px;}
#headerWrap,
#storeHeaderWrap {min-width:480px;}

}

/*----------------------------------------------------
 header
----------------------------------------------------*/
#headerWrap {height: auto;}
#header {height: 40px;}
#siteName {padding: 0;}
#siteName a {width: 76px; height: 40px; margin-left:10px; background: url(/m/img/header.png) no-repeat left top; -webkit-background-size: 76px 40px;}
#siteName a:hover {background: url(/m/img/header.png) no-repeat left top; padding-top: 0; margin-top: 0;}
#globalNav {height: auto;}
#globalNav li {padding:0;}
#globalNav a {display: block; background: none; text-indent: 0; height: auto; padding: 13px 10px 0; font-size: 13px; font-weight: bold;}
#gnShop a { width: auto;}
#gnHome,
#gnStore,
#gnLab,
#gnMymuji,
#gnContact,
#gnGS {display: none;}

/*----------------------------------------------------
 storeHeader
----------------------------------------------------*/
#storeHeaderWrap {background: #f5f2e9; padding: 0;}
#storeHeader {position:relative; width: auto; height: auto; margin: 0; padding: 0; border-bottom: 1px solid #ddd7c7;}
ul#storeMember {height: auto; padding: 0;}
.loginAfter #storeMember {float: none;}
#smLogin {padding: 0; margin-right: 5px;}
#smLogin a {display: block; width: 4em; height: auto; overflow: auto; background: 0; text-indent: -9999px; padding: 5px; position: relative;}
#smSignUp {padding: 0;}
#smSignUp a {display: block; width: 6em; height: auto; overflow: auto; background: 0; text-indent: -9999px; padding: 5px; position: relative;}

#smLogin a:after {content:"\30ED\30B0\30A4\30F3"; font-size: 13px; position: absolute; left: 0; top: 7px; text-indent: 0;}
#smSignUp a:after {content:"\30E1\30F3\30D0\30FC\767B\9332"; font-size: 13px; position: absolute; right: 0; top: 7px; text-indent: 0;}

ul#storeNav {margin: 0; padding: 0;}
ul#storeNav li {margin: 0; padding: 0; border: 0;}
ul#storeNav li a {padding: 10px; display: block;}

#stnGuide,
#stnMailreg {display: none;}

#storeMember {margin: 0 10px;}

#headerCartBox {float: right; position: static; width: auto;}
#cTitle, #cPriceArea {display: none;}
#headerCartBox a {display: inline; overflow: auto; padding: 0; border: 0; background: none; text-decoration: none; color: #333;}
#headerCartBox #cTitle {display: none;}
#cButton {position: relative; display: block; float: none; width: auto; height: auto; background: none; font-size: 13px; text-indent: 0; padding: 10px 10px 10px 17px; background: url(/m/img/icon_cart.png) no-repeat 0 5px; -webkit-background-size: 13px 11px;}
#headerCartBox a:hover #cButton {background: url(/m/img/icon_cart.png) no-repeat 0 5px;}

.wrapAroundBanner {display: none;}

#sideNav{display: none;}

#hSearch {display: none; clear: both; margin: 0; padding: 0 5px 10px 10px; border-top: 1px solid #eee8d8;}
body#storeTop #hSearch {display: block;}
#hSearch ul {padding: 0;}
#hSearch li {float: none;}
#hSearch #skey {height: 20px; font-size: 16px; width: 293px; margin-bottom: 10px; background-image: none; padding-left: 5px;}
#hSearch #sStoreItem {display: none;}
#hSearch #sCategory {padding-top: 0; float: left;}
#hSearch #scat {width: 242px; margin: 0 5px 0 0; height: 28px;}
#hSearch #sSubmit {margin: 0; padding: 0;}
#hSearch #sSubmit a {background: #333; text-indent: 0; padding: 5px 0 4px; color: #fff; border-radius: 3px; text-align: center; width: 50px; height: 19px; font-size: 12px; font-weight: bold; float: none;}

#breadcrumbs {margin: 0 5px;}
#breadcrumbs ol {background: none;}
#breadcrumbs .current {display: none;}
#breadcrumbs ol li:nth-last-child(1n+3) {display: none;}

#showSearch {background: #f5f2e9 url(/img/store/common/sheaderinputbg.gif) no-repeat 12px 10px; border-radius: 0 0 5px 5px; border:0; position: absolute; right: 10px; top: 0; height: 36px; width: 36px; border: solid #ddd7c7; border-width: 0 1px 1px;}

/*----------------------------------------------------
 main
----------------------------------------------------*/

#main {width: auto; margin: 10px 0 0; min-height: auto;}
body #main h1 {font-size: 14px; font-weight: bold; padding: 5px 10px; margin: 0; text-indent: 0; border-bottom: 0; background: none; text-indent: 0;}

.mobileOnly {display: block;}
.pcOnly {display: none;}

/*----------------------------------------------------
 STORETOP
----------------------------------------------------*/

body#storeTop #mobileDirectOrder {margin-left: 10px; background: url(/m/img/arrow.png) no-repeat 127px center; -webkit-background-size: 10px 13px;}

body#storeTop #mobileMaintenance a {display: block; text-align: center; color: #333; background: #eee; padding: 5px 0; margin-bottom: 0; width: auto; border-bottom: 1px solid #ddd;}

body#storeTop .content #main {margin-top: 10px;}
body#storeTop #main h2 {font-size: 10px; background: -webkit-gradient(linear, left top, left bottom, from(#666), to(#555)); color: #fff; text-indent: 0; border-bottom: 1px solid #eee; padding: 5px; margin-bottom: 0;}

body#storeTop #main h2 b {font-size: 14px; margin-right: 5px;}

body#storeTop #mobileCampaign {margin-top: 30px;}

.simpleNav {margin: 10px auto; text-align: center;}
.simpleNav ul {display: inline-block;}
.simpleNav ul:after {content: " "; display: block; visibility: hidden; clear: both; height: 0.1px; font-size: 0.1em; line-height: 0;}
.simpleNav li {float: left; margin-right: 5px;}
.simpleNav a {text-indent: -9999px; display: block; width: 12px; height: 12px; background: url(/m/img/simplenav.png) no-repeat -1px -1px;}
.simpleNav .current a {background-position: -1px -31px;}
body#storeTop #mobileCampaign1 {clear: both; padding: 5px 5px 0;}
body#storeTop #mobileCampaign1 .list ul{letter-spacing:-.40em;}
body#storeTop #mobileCampaign1 .list li{display: none;}
body#storeTop #mobileCampaign1 .list li.current{display:inline-block;width:200px;margin:0 5px;vertical-align:top;letter-spacing:normal; text-align: center;}
body#storeTop #mobileCampaign1 .list img {width:260px; margin-bottom: 5px; float: none;}
body#storeTop #mobileCampaign1 .list a{text-decoration:none;}
body#storeTop #mobileCampaign1 .list span {display: block; width: 270px; text-align: left;margin:auto}
body#storeTop #mobileCampaign1 .title {font-weight: bold;}
body#storeTop #mobileCampaign1 .btn{width:20px;font-size:10px; margin-top: 80px;}
body#storeTop #mobileCampaign1 .btn a{border-radius: 12px;}
body#storeTop #mobileCampaign1 .prev{float:left;margin-right: 5px;}
body#storeTop #mobileCampaign1 .next{float:right;}
body#storeTop #mobileCampaign1 .disabled a{background:#ccc;cursor:default;}


body#storeTop #mobileCampaign2 {margin: 10px 0 0;}
body#storeTop #mobileCampaign2 ul {border-top: 1px solid #eee;}
body#storeTop #mobileCampaign2 li {display: inline-block;
margin: 0; width: 159px; border-top: 0; padding-top: 0;
border-bottom: 1px solid #eee;
border-right: 1px solid #eee;
}
body#storeTop #mobileCampaign2 li a {position: relative; display: block; padding: 20px 15px 20px 60px;}
body#storeTop #mobileCampaign2 li#mobileNewItem a {background: url(/m/img/arrow.png) no-repeat 95% center, url('/m/img/thumb_new.png') no-repeat 10px center; -webkit-background-size: 10px 13px, auto;}
body#storeTop #mobileCampaign2 li#mobileResaleItem a {background: url(/m/img/arrow.png) no-repeat 95% center, url('/m/img/thumb_reconsider.png') no-repeat 10px center; -webkit-background-size: 10px 13px, auto;}

body#storeTop .more {margin-bottom: 30px;}
body#storeTop .more a {display: block; text-align: center; padding: 10px 5px;
background: url(/m/img/arrow.png) no-repeat 95% center #efefef; -webkit-background-size: 10px 13px;}

body#storeTop #mobileCategoryList h2 {border-bottom: 0;}

body#storeTop #mobileCategoryList {margin: 0 0 30px;}
body#storeTop #mobileCategoryList ul {border-top: 1px solid #eee;}
body#storeTop #mobileCategoryList li h3 {border-bottom: 1px solid #eee;
position: relative; display: block; padding: 20px 15px 20px 45px; margin: 0;
-webkit-background-size: 13px 10px, auto, auto;
}
body#storeTop #mobileCategoryList li.D00001 h3.categoryClose {
background: url(/m/img/arrow_down.png) no-repeat 95% center,
url(/m/img/icon_sidenav.png) no-repeat 10px 22px,
-webkit-gradient(linear, left top, left bottom, from(#fff), to(#f9f9f9));
}
body#storeTop #mobileCategoryList li.D00002 h3.categoryClose {
background: url(/m/img/arrow_down.png) no-repeat 95% center,
url(/m/img/icon_sidenav.png) no-repeat 10px -28px,
-webkit-gradient(linear, left top, left bottom, from(#fff), to(#f9f9f9));
}
body#storeTop #mobileCategoryList li.D00003 h3.categoryClose {
background: url(/m/img/arrow_down.png) no-repeat 95% center,
url(/m/img/icon_sidenav.png) no-repeat 10px -74px,
-webkit-gradient(linear, left top, left bottom, from(#fff), to(#f9f9f9));
}
body#storeTop #mobileCategoryList li.D00004 h3.categoryClose {
background: url(/m/img/arrow_down.png) no-repeat 95% center,
url(/m/img/icon_sidenav.png) no-repeat 10px -230px,
-webkit-gradient(linear, left top, left bottom, from(#fff), to(#f9f9f9));
}
body#storeTop #mobileCategoryList li.D00005 h3.categoryClose {
background: url(/m/img/arrow_down.png) no-repeat 95% center,
url(/m/img/icon_sidenav.png) no-repeat 10px -125px,
-webkit-gradient(linear, left top, left bottom, from(#fff), to(#f9f9f9));
}
body#storeTop #mobileCategoryList li.D00006 h3.categoryClose {
background: url(/m/img/arrow_down.png) no-repeat 95% center,
url(/m/img/icon_sidenav.png) no-repeat 10px -179px,
-webkit-gradient(linear, left top, left bottom, from(#fff), to(#f9f9f9));
}

body#storeTop #mobileCategoryList li.D00001 h3.categoryOpen {
background: url(/m/img/arrow_up.png) no-repeat 95% center,
url(/m/img/icon_sidenav.png) no-repeat 10px 22px,
-webkit-gradient(linear, left top, left bottom, from(#fff), to(#f9f9f9));
}
body#storeTop #mobileCategoryList li.D00002 h3.categoryOpen {
background: url(/m/img/arrow_up.png) no-repeat 95% center,
url(/m/img/icon_sidenav.png) no-repeat 10px -28px,
-webkit-gradient(linear, left top, left bottom, from(#fff), to(#f9f9f9));
}
body#storeTop #mobileCategoryList li.D00003 h3.categoryOpen {
background: url(/m/img/arrow_up.png) no-repeat 95% center,
url(/m/img/icon_sidenav.png) no-repeat 10px -74px,
-webkit-gradient(linear, left top, left bottom, from(#fff), to(#f9f9f9));
}
body#storeTop #mobileCategoryList li.D00004 h3.categoryOpen {
background: url(/m/img/arrow_up.png) no-repeat 95% center,
url(/m/img/icon_sidenav.png) no-repeat 10px -230px,
-webkit-gradient(linear, left top, left bottom, from(#fff), to(#f9f9f9));
}
body#storeTop #mobileCategoryList li.D00005 h3.categoryOpen {
background: url(/m/img/arrow_up.png) no-repeat 95% center,
url(/m/img/icon_sidenav.png) no-repeat 10px -125px,
-webkit-gradient(linear, left top, left bottom, from(#fff), to(#f9f9f9));
}
body#storeTop #mobileCategoryList li.D00006 h3.categoryOpen {
background: url(/m/img/arrow_up.png) no-repeat 95% center,
url(/m/img/icon_sidenav.png) no-repeat 10px -179px,
-webkit-gradient(linear, left top, left bottom, from(#fff), to(#f9f9f9));
}



body#storeTop #mobileCategoryList li ul {display: none;}


/* 商品カテゴリー　オープンの状態
body#storeTop #mobileCategoryList li:first-child ul {display: block;}
body#storeTop #mobileCategoryList li.D00001 h3 {
background: url(/m/img/arrow_up.png) no-repeat 95% center,
url(/m/img/icon_sidenav.png) no-repeat 10px 22px,
-webkit-gradient(linear, left top, left bottom, from(#fff), to(#f9f9f9));
}
 */

body#storeTop #mobileCategoryList li ul li a {
display: block;
padding: 20px 10px 20px 45px;
border-bottom: 1px solid #ddd;
font-size: 12px;
margin-bottom: 0;
background: url(/m/img/arrow.png) 95% center no-repeat #f5f5f5;
-webkit-background-size: 10px 13px;}


body#storeTop #mobileValuePrice h2 {border-bottom: 0;}

body#storeTop #mobileValuePrice {margin: 0 0 30px;}
body#storeTop #mobileValuePrice ul {border-top: 1px solid #eee;}
body#storeTop #mobileValuePrice li a {border-bottom: 1px solid #eee;
position: relative; display: block; padding: 20px 15px 20px 60px; margin: 0;
-webkit-background-size: 10px 13px, auto, auto;
}
body#storeTop #mobileValuePrice li#factoryOutlet a {
background: url(/m/img/arrow.png) no-repeat 95% center,
url(/m/img/thumb_fo.png) no-repeat 5px center,
-webkit-gradient(linear, left top, left bottom, from(#fff), to(#f9f9f9));
}
body#storeTop #mobileValuePrice li#wholeSale a {
background: url(/m/img/arrow.png) no-repeat 95% center,
url(/m/img/thumb_wholesale.png) no-repeat 10px center,
-webkit-gradient(linear, left top, left bottom, from(#fff), to(#f9f9f9));
}
body#storeTop #mobileValuePrice li#reducedPrice a {
background: url(/m/img/arrow.png) no-repeat 95% center,
url(/m/img/thumb_reducedprice.png) no-repeat 10px center,
-webkit-gradient(linear, left top, left bottom, from(#fff), to(#f9f9f9));
}
body#storeTop #mobileValuePrice li#trialDiscount a {
background: url(/m/img/arrow.png) no-repeat 95% center,
url(/m/img/thumb_trialdiscount.png) no-repeat 10px center,
-webkit-gradient(linear, left top, left bottom, from(#fff), to(#f9f9f9));
}
body#storeTop #mobileValuePrice li#combination a {
background: url(/m/img/arrow.png) no-repeat 95% center,
url(/m/img/thumb_combination.png) no-repeat 10px center,
-webkit-gradient(linear, left top, left bottom, from(#fff), to(#f9f9f9));
}

body#storeTop #mobileRecommend {margin-bottom: 30px;}
body#storeTop #mobileRecommend .label {display: inline-block; background: #999; padding: 2px; font-size: 10px; color: #fff; font-weight: bold; text-align: center; border-radius: 2px;}


body#storeTop #campaign,
body#storeTop .topMain,
body#storeTop aside,
body#storeTop #maintenance {display: none;}


#mobileBanner {margin-bottom: 20px;}
#mobileBanner ul {letter-spacing: -.40em; border-top: 1px solid #eee; border-bottom: 1px solid #eee;}
#mobileBanner li {
display: inline-block;
width: 159px; vertical-align: top; letter-spacing: normal;
border-bottom: 1px solid #eee;
border-right: 1px solid #eee;
margin-bottom: -1px;}
#mobileBanner li a {display: block; padding: 5px; background: url(/m/img/arrow.png) no-repeat 95% center;}
#mobileBanner a img {width: 149px;}


/*----------------------------------------------------
 SEARCH 
----------------------------------------------------*/

#snRefinement,
#snSiblingCategory {position: absolute;}
#snRefinement {left: 71px;}
#snSiblingCategory {left: 172px;}
#snRefinement h2,
#snSiblingCategory h2,
.controlBar h2 {font-size: 12px; font-weight: normal; text-align: center; color: #333; background: #eee;}
#snRefinement h2 {width: 100px; border-right: 1px solid #ddd;}
#snSiblingCategory h2 {width: 148px;}
#snRefinement dl,
#snSiblingCategory dl {display: none;}
#snRefinementItems,
#snSiblingCategoryItems,
#sortItems {border: solid #333; border-width: 3px; background: #f5eedd;}
#snRefinementItems dt,
#snSiblingCategoryItems dt a,
#sortItems dt {display: block; font-weight: bold; padding: 10px; background: #333; color: #fff;}
#snRefinementItems dd a,
#snSiblingCategoryItems dd a,
#sortItems dd a,
#sortItems dd span {display: block; padding: 5px;border-bottom: 1px solid #fff; font-size: 13px;}
#snRefinementItems dd:last-child a,
#snSiblingCategoryItems dd:last-child a,
#sortItems dd:last-child a {border: 0;}
#sortItems dd span {color: #666; background: #eeddcc;}

.controlBar {margin-top: 0; position: relative;}
.controlBar h2 {display: block; width: 70px; float: left; margin: 0;border-right: 1px solid #ddd;}
.controlBar h2 a {display: block; padding: 5px 0;}
.controlBar #sortItems {display: none;}
.controlBar .itemsParPage,
.controlBar .viewSwitch {display: none;}

.pageNav {border-top: 1px solid #ddd;}
.pageNumber {float: none; text-align: center;}
.pageShift {float: none; text-align: center; padding-top: 0;}
.pageShift ul {display: inline-block;}
.pageShift li {margin: 0 5px;}
.pageShift li a, .pageShift li span {padding: 4px 10px;}
.pageShift li.prev {padding: 4px 10px 4px 0;}
.pageShift li.next {padding: 4px 0 4px 10px;}

#main .itemList {margin-bottom: 0;}
#main .itemList ul {margin: 10px 0 0; letter-spacing: normal;}
#main .itemList li {
display: block;
width: auto; margin: 0; padding: 10px 10px 10px 111px; vertical-align: top;
position: relative;
min-height: 101px;
border-bottom: 1px solid #eee;
background: url(/m/img/arrow.png) no-repeat 95% center,
-webkit-gradient(linear, left top, left bottom, from(#fff), to(#f9f9f9));
-webkit-background-size: 10px 13px, auto;
}
#main .itemList li:last-child {border-bottom: 0;}
#main .itemList a {display: inline; margin-bottom: 5px;}
#main .itemList .thumb {position: absolute; left: 5px; top: 10px; margin-bottom: 0; padding: 3px;border-radius: 3px; display: block; background: #fff;}
#main .itemList .name {margin-right: 5px; text-decoration: none;}
#main .itemList .price {display: block; margin: 5px 0 10px; line-height: 1.2;}
#main .itemList .info ul {margin-right: -3px; overflow: hidden;}
.newicon,
.stockicon {margin-bottom: 3px;}
#main .itemList .info li {
display: inline-block;
padding:1px 0 0;
min-height: 0;
margin: 0 5px 0 0;
border: 1px solid #666;
-webkit-box-shadow: none;
background: none;
}

/*----------------------------------------------------
 CATEGORY TOP 
----------------------------------------------------*/

body.browse #main #promotion,
body.categoryTop #main #promotion {display: none;}

/* subcategory */
#subCategory {border: 0; width: auto; margin: 10px 0 30px; padding: 0;}
#subCategory ul {margin-right: 0; margin-top: 0; letter-spacing: normal; border-top: 1px solid #eee;}
#subCategory li {display: inline-block;
margin: 0; width: 159px; border-top: 0; padding-top: 0;
border-bottom: 1px solid #eee;
border-right: 1px solid #eee;
}
#subCategory li a {position: relative; display: block; padding: 10px 15px 0px 60px; min-height: 60px;
background: url(/m/img/arrow.png) no-repeat 95% center,
-webkit-gradient(linear, left top, left bottom, from(#fff), to(#f9f9f9));
-webkit-background-size: 10px 13px, auto;
}
#subCategory ul li a .name {display: block; background: none; padding: 0;}
#subCategory .img {display: block; position: absolute; top: 0; width: 55px; height: 60px; background-repeat: none; *z-index: -1;}
body.categoryTop #subCategory .img1 {left: 0; width: 55px; background-position: 5px 10px; background-repeat: no-repeat; margin-left: 0;}
#subCategory .img2 {left: 55px; display: none;}

body.categoryTop #main .section {border-top: 0; margin-bottom: 20px; padding: 0;}
body.categoryTop #main h2 {font-size: 12px; background: -webkit-gradient(linear, left top, left bottom, from(#666), to(#555)); color: #fff; text-indent: 0; border-bottom: 1px solid #eee; padding: 5px; margin-bottom: 20px;}
body.categoryTop #main .itemLst ul {margin-right: 0; margin-top: 0; border-top: 1px solid #eee;}

body.categoryTop #faq {display: none;}

.viewAll {padding: 0;}
body.categoryTop .section .viewAll a {display: block; text-align: center; padding: 10px 5px;
background: url(/m/img/arrow.png) no-repeat 95% center #efefef; -webkit-background-size: 10px 13px;}

body.categoryTop .campaignList li {
width: 150px;
margin: 0 5px 10px;
}
body.categoryTop .campaignList li img {
width: 148px;
}


/* searchResultItems */
#main #searchResultItems {padding: 0 10px;}
#main #searchResultItems h2 {background: none; color: #191919;}
#main #searchResultItems .itemList {margin-bottom: 10px;}
#main #searchResultItems .itemList li {display: inline-block; width: 120px; margin: 0 5px; padding: 0; background: none; border: 0;}
#main #searchResultItems .itemList .thumb {position: static; padding: 0; border-radius: 0; float: left; margin: 0 5px 0 0; display: inline;}
#main #searchResultItems .thumb img {width: 40px; height: 40px;}
#main #searchResultItems .itemList .name {margin-right: 0;}
#main #searchResultItems .itemList .price {margin: 5px 0 0; line-height: auto;}


/*----------------------------------------------------
 cmdty
----------------------------------------------------*/

body#item #breadcrumbs ol li:nth-last-child(1n+2) {display: none;}

#picture {float: none; width: auto; margin-bottom: 10px;}
#mainPicture {text-align: center;}
.mainImage {width: 320px; height: 320px;}
#thumbnails {margin-right: -5px; margin-left: 10px; text-align: center;}
#thumbnails ul {text-align: left; display: inline-block;}
#thumbnails li {float: none; display: inline-block; margin: 0 4px 4px 0;}
#thumbnails img{width: 45px; height: 45px;}

#controlPanel {float: none; width: auto;margin-left: 10px; margin-right: 10px;}
#controlPanel #shopStock,
#controlPanel .anotation,
#controlPanel #refundPolicy,
#controlPanel .share {}

#controlPanel #aboutShipping a,
#controlPanel #shopStock a,
#controlPanel #refundPolicy a {text-decoration: underline;}

#detail .section {display: none;}
#detail #incidental,
#detail #sizeList,
#detail #spec,
#detail #relatedItems,
#detail .important {display: block; margin-left: 10px; margin-right: 10px;}
.subCol #manual ul {background: #f2f2f2;}
.subCol #manual li {margin-bottom: 0;}
.subCol #manual li a {display: block; padding: 10px 10px 10px 28px; border-bottom: 1px solid #fff; background-position: 10px 10px;}
.subCol #manual li:last-child a {border-bottom: 0;}
.subCol #manual p {margin: 10px;}

#viewInPCmode {margin-bottom: 30px;}
#viewInPCmode a {display: block; text-align: center; padding: 10px 5px;
background: url(/m/img/arrow.png) no-repeat 95% center #efefef; -webkit-background-size: 10px 13px;}

.mainCol {width: auto; float: none;}
.subCol {width: auto; float: none;}

#order .btn a {padding: 5px; font-size: 14px; width: 140px; text-align: center;
			background-image: 
				-webkit-gradient(linear, left top, left bottom, 
					from(#444444),
					color-stop(0.5, #333333),
					color-stop(0.5, #222222),
					to(#222222));
					border-radius: 5px;
}

li.reserve,
li.pickup,
li.valueSet {width: auto; padding: 2px 0px 2px 5px;}

body#item #detail #incidental {margin: 0 10px;}

body#item #sizeList table.horizontal {width: 100%;}
body#item #sizeList table.horizontal th,
body#item #sizeList table.horizontal td {padding: 5px 0; font-size: 10px;}


#detail #relatedItems .itemList ul {margin: 0 -15px 0 0; letter-spacing: -.40em;}
#detail #relatedItems .itemList li {
display: inline-block;
width: 110px; margin: 0 5px; padding: 0; vertical-align: top; letter-spacing: normal; position: static; min-height: auto; border-bottom: 0;
background: none;}
#detail #relatedItems .itemList a {display: block; margin-bottom: 5px;}
#detail #relatedItems .itemList .name {margin-right: 0;}
#detail #relatedItems .itemList .thumb {position: static; display: block; margin-bottom: 3px;}
#detail #relatedItems .itemList .thumb img {width: 40px; height: 40px;}
#detail #relatedItems .itemList .price {display: inline-block; line-height: 1.2;}
#detail #relatedItems .itemList .free {font-size: 12px; font-weight: bold;}
#detail #relatedItems .itemList br {display: none;}

body#item #recommend {display: none;}


/*----------------------------------------------------
 shopstock
----------------------------------------------------*/

body#shopstock {width: auto;}
body#shopstock .pageTop {display: none;}
body#shopstock .status {width: 30%;}

/*----------------------------------------------------
 storestock
----------------------------------------------------*/

body#storestock {width: auto;}
body#storestock dt {width: 5em;}
body#storestock .submit {margin-left: 5em;}


/*----------------------------------------------------
 login
----------------------------------------------------*/

body#login #main h1 {padding: 5px 0;}

body#login #main {margin: 10px 10px 0;}

body#login #main #member h2 {display: none;}

body#login #main #guest h2 {font-size: 14px;}

body#login #main  h3 {font-size: 12px;}

body#login #member {border: 0; padding: 0;}
body#login #guest {padding: 10px;}
body#login #guest .note {padding: 10px 0 10px 10px;}
body#login .focus dl {margin-top: 0;}
body#login .focus dl dt {float: none; width: auto; margin: 0; padding: 0; text-align: left;}
body#login .focus dl dd {margin: 0 0 5px 0; padding: 3px 0;}

body#login #goReminder {text-align: center; margin-bottom: 0;}
body#login .submit {margin: 10px auto;}

body#login #member input {width: 97%; font-size: 16px; padding: .4em 0 .4em 5px;
-moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
border: 1px solid #adadad;
-webkit-appearance: none;
line-height:1.4;
}

/*----------------------------------------------------
 footer
----------------------------------------------------*/

#footer {margin-top: 20px;}

#storeFooterWrap,
#footerNav {display: none;}

#snCategory{margin-bottom: 0;}

#snCategory #snBanner,
#snCategory #snCategoryList,
#snCategory ul {display: none;}

#snCategory ul {display: block;}

#mobileNav {display: block;}

#snCategory h2,
#snCategory ul li h3,
#snCategory ul li a,
#mobileNav li a {display: block; padding: 20px 10px;
border-bottom: 1px solid #ddd7c7;
font-size: 12px;
margin-bottom: 0;
font-weight: normal;
}

#snCategory h2 {background: url(/m/img/arrow_down.png) 95% center no-repeat #f5eedd; font-weight: bold;
-webkit-background-size: 13px 10px, auto;
}
#snCategory ul {display: none;}
#snCategory ul li h3 {background: url(/m/img/arrow_down.png) 95% center no-repeat #eee;
-webkit-background-size: 13px 10px;
}
#snCategory ul li a {background: url(/m/img/arrow.png) 95% center no-repeat #fff;
-webkit-background-size: 10px 13px;
}
#mobileNav li a {background: url(/m/img/arrow.png) 95% center no-repeat #f5eedd;
-webkit-background-size: 10px 13px;
}

#pageEnd {padding: 0 10px;}
#copyright {margin-bottom: 0; text-align: center;}


/*
#snCategory ul {display: block;}
#snCategory ul ul {display: none;}
#snCategory h2 {background: url(/m/img/arrow_up.png) 95% center no-repeat #f5eedd;}
#snCategory .D00010 h3 {background: url(/m/img/arrow_up.png) 95% center no-repeat #eee;}
#snCategory .D00010 ul {display: block;}
*/

#snCategory .headOpen {background: url(/m/img/arrow_up.png) no-repeat 95% center,
-webkit-gradient(linear, left top, left bottom, from(#f5eedd), to(#f5ddcc));}
#snCategory .headClose {background: url(/m/img/arrow_down.png) no-repeat 95% center,
-webkit-gradient(linear, left top, left bottom, from(#f5eedd), to(#f5ddcc));}
#snCategory .contentOpen {background: url(/m/img/arrow_up.png) 95% center no-repeat #eee;}
#snCategory .contentClose {background: url(/m/img/arrow_down.png) 95% center no-repeat #eee;}

#history .thumb img {width: 40px; height: 40px;}
#history .itemList li { width: 120px;}
#history .itemList .name {text-decoration:none;}

/* section/X00001 */
body#X00001 #rcmdCategory {width: auto; border: 0; padding: 0; margin: 10px 0 30px;}

body#X00001 #rcmdCategory ul {margin-right: 0; margin-top: 0; letter-spacing: -.40em; border-top: 1px solid #eee;}
body#X00001 #rcmdCategory li {display: inline-block;
letter-spacing: normal;
margin: 0; width: 159px; border-top: 0; padding-top: 0;
border-bottom: 1px solid #eee;
border-right: 1px solid #eee;
border-left: 0;
}
body#X00001 #rcmdCategory li a {display: block; min-height: 60px; padding: 10px 15px 0px 60px;
background: url(/m/img/arrow.png) no-repeat 95% center,
-webkit-gradient(linear, left top, left bottom, from(#fff), to(#f9f9f9));
border: 0;
}
body#X00001 #rcmdCategory ul li a .name {display: block; background: none; padding: 0; margin:0;}
body#X00001 #rcmdCategory .img {display: block; position: absolute; top: 0; width: 55px; height: 60px; background-repeat: none; margin:0;}
body#X00001 #rcmdCategory .img1 {left: 0; width: 55px; background-position: 5px 10px; background-repeat: no-repeat; margin-left: 0; float: none;}


/*----------------------------------------------------
 ERROR 
----------------------------------------------------*/

#error #main {min-height: 150px;}
#error #main p {margin: 50px 10px;}
