@charset "utf-8";

/* RESET */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var,optgroup{font-style:inherit;font-weight:inherit;}del,ins{text-decoration:none;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:baseline;}sub{vertical-align:baseline;}legend{color:#000;}input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}input,button,textarea,select{*font-size:100%;}
/* RESET HTML5 */
article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;font:inherit;vertical-align:baseline;}
/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}



/*----------------------------------------------------
 elements
----------------------------------------------------*/
body {color:#333; font: 12px/1.4 "Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3","ＭＳ Ｐゴシック",sans-serif; line-height: 1.5; -webkit-text-size-adjust: none;}

a:link,
a:visited {color: #333333; text-decoration: none;}
a:hover {color: #7f0019;}

img {vertical-align: top;}
a img {vertical-align: bottom;}


/* CLEARFIX */
#header:after,
#globalNav ul:after,
#storeHeader:after,
ul#storeMember:after,
#guideNav:after,
#guideNav dl:after,
.content:after,
.itemList:after,
.pageNav:after,
.prevNext:after,
#footerNav:after,
#pageEnd:after {content: ""; display: block; clear: both;}


/* --------------------------------
#breadcrumbs
-------------------------------- */

#breadcrumbs {padding-top: 10px;}
#breadcrumbs a {
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	font-size: 11px;
	line-height: 24px;
	height: 24px;
	-webkit-box-sizing: border-box;
	-webkit-border-radius: 5px;
	background-image: 
		-webkit-gradient(linear, left top, left bottom, 
			from(#444444),
			color-stop(0.5, #333333),
			color-stop(0.5, #222222),
			to(#222222));
	color: #fff;
	-webkit-tap-highlight-color: transparent;
	-webkit-user-select: none;
	padding: 0px 5px 0px 7px; margin-left: 12px;
	position: relative;
}
#breadcrumbs a:hover {
	background-image: 
		-webkit-gradient(linear, left top, left bottom, 
					from(#881122),
					color-stop(0.5, #7f0019),
					color-stop(0.5, #660000),
					to(#660000));
	-webkit-tap-highlight-color: transparent;
}

#breadcrumbs a:before {
	content: " ";
	display: block;
	z-index: -1;
	background-image:
		-webkit-gradient(linear, left top, right bottom,
			from(#444444),
			color-stop(0.5, #333333),
			color-stop(0.5, #222222),
			to(#222222)); 
	-webkit-border-radius: 3px;
	height: 18px;
	width: 18px;
	display: inline-block;
	-webkit-transform: rotate(45deg);
	position: absolute;
	left: -6.5px;
	top: 3px;
	-webkit-background-clip: content;
}
#breadcrumbs a:hover:before {
	background-image:
		-webkit-gradient(linear, left top, right bottom,
					from(#881122),
					color-stop(0.5, #7f0019),
					color-stop(0.5, #660000),
					to(#660000));
}


/* COMMON ELEMENTS */
.annotation { font-size: 11px; color: #555;}
.annotation li{margin-bottom: 0.5em;}
.error {color: #d00; font-weight: bold;}
.annotation.asterisk {text-indent: -0.75em; padding-left: 0.75em;}
.ime {font-size: 11px;}
.focus {border: 5px solid #ccc; margin-bottom: 20px; padding: 15px;}

table caption {padding-bottom: 10px; font-size: 13px; font-weight: bold;}
table.vertical {width: 100%; margin-bottom: 20px;}
table.vertical th {padding: 10px; border: solid #ddd; border-width: 1px 0 1px 1px; background: #f5f5f5; font-weight: normal; width: 245px;}
table.vertical td {padding: 10px; border: solid #ddd; border-width: 1px 1px 1px 0;}

table.horizontal th {padding: 5px 10px; background: #f5f5f5; text-align: center; font-weight: bold; border: solid #ddd; border-width: 1px 1px 0;}
table.horizontal td {padding: 10px; border: solid #ddd; border-width: 0 1px 1px;}
table.horizontal td.price {white-space: nowrap; text-align: right;}

.price {font-size: 11px;}
.price del {display: block; color: #999;}
.price del {*text-decoration: line-through;}
.price del:after {content:"→";}
.price ins {display: block; color: #7f0019;}
.price .num,
.value .num {font-size: 14px; font-weight: bold; margin: 0 2px; font-family: "Helvetica","Lucida Grande","Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W6","ＭＳ Ｐゴシック" ,sans-serif;}
.price del .num {font-size: 11px;}

table.horizontal th.buy {background: url(/img/store/account/favorite/icon_cart.png) no-repeat #f5f5f5 center center;}
table.horizontal td.over {background: #fffff5; cursor:pointer;}
table.horizontal .buy,
table.horizontal .delete {text-align: center; white-space: nowrap;}
table.horizontal .item img {padding: 3px 11px 3px 6px; float: left;}
table.horizontal .item span {display: block;}
table.horizontal .jan {font-size: 11px; color: #999;}
table.horizontal .caution {font-weight: bold; color: #d00;}
table.horizontal td.total {padding: 20px 11px 20px 20px; border: 0; text-align: right; border-bottom: 1px solid #ddd;}

.btn a,
.submit button {background: #333; color: #fff; font-weight: bold; padding: 5px; display: inline-block; cursor: pointer; text-decoration: none;
-moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px;
			background-image: 
				-webkit-gradient(linear, left top, left bottom, 
					from(#444444),
					color-stop(0.5, #333333),
					color-stop(0.5, #222222),
					to(#222222));
					border-radius: 5px;
}
.submit button {width: 100%; padding: 5px; line-height: 1.4; border: 0;}
.btn a:visited {color: #fff;} /* IE6 */
.btn a:hover,
.submit button:hover {background: #7f0019; color: #fff;
			background-image: 
				-webkit-gradient(linear, left top, left bottom, 
					from(#881122),
					color-stop(0.5, #7f0019),
					color-stop(0.5, #660000),
					to(#660000));
					border-radius: 5px;
}

.relatedLink a {display: inline-block; background: url(/img/common/arrow_right.png) no-repeat 14px 50%; border: 1px solid #ccc; padding: 7px 14px 7px 28px; text-decoration: none; font-weight: bold;}
.relatedLink a:hover {border: 1px solid #7F0019;}

.add a {padding-left: 18px; background: url(/img/store/common/icon_add_fff.png) no-repeat 5px center #333;}
.add a:hover {background: url(/img/store/common/icon_add_fff.png) no-repeat 5px center #7f0019;}

.note {font-size: 11px;}
.ex {color: #666; font-size: 11px;}
.req {font-size: 11px; font-weight: normal;}
.apology {color: #555;}

.discountRate {display: inline-block; border: 1px solid #7F0019; color: #7F0019; font-weight: bold; padding: 5px 5px 2px; font-family: "Helvetica","Lucida Grande","Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W6","ＭＳ Ｐゴシック" ,sans-serif; line-height: 1;}
.discountRate .num {font-size: 14px; margin-right: 2px;}

/* stockIcon, newicon */
.newicon,
.stockicon {display:inline-block; *display:inline; *zoom: 1; margin-right: 3px; vertical-align: middle;
-moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; font-weight: normal;}
.stockicon {padding:1px 2px 0; *padding:0 2px 1px; font-size:10px; line-height: 10px; letter-spacing: -1px;}
.newicon {color: #fff; background: #7f0019; padding: 1px 2px 2px; *padding: 0px 2px 3px; font-size: 10px; font-family: Arial; line-height: 10px;}
.few {color: #7f0019; border: 1px #7f0019 solid;}
.out {color:#666; border:1px #666 solid; background: #f3f3f3;}

/* loading */
.loading {background: url(/img/common/icon_loading.gif) no-repeat 50% 50%; text-indent: -9999px;}
.loading {min-height: 75px;}

/* prevNext */
.prevNext {width: 300px; margin: 0 auto;}
.prevNext .prev {float: left;}
.prevNext .next,
.submit {text-align: center; width: 160px; margin: 30px auto;}
.prevNext .prev1 {width: 180px;}
.prevNext .next1 {width: 140px; float: left; margin-left: 0;}
.prevNext .next2 {width: 140px; float: left; margin-left: 20px;}
.prevNext .next a,
.submit a {display: block; overflow: hidden; padding: 5px; color: #fff;}
.goBack {text-align: center;}
.goBack a {text-decoration: underline;}

.message span {display: inline-block; background: #f5f2e9; padding: 5px;
-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;}
.message.error span {background: #fdd;}

.message ul {display: table; background: #f5f2e9; padding: 5px;
-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;}
.message.error ul {background: #fdd;}
.message ul span {display: inline; padding: 0;}

/*----------------------------------------------------
 layout
----------------------------------------------------*/
#header,
#headerWrap,
#storeHeader,
#storeHeaderWrap,
.content,
#footer,
#footerWrap {width: 320px; margin: 0 auto; padding: 0; overflow: hidden;}
#headerWrap,
#storeHeaderWrap {min-width:320px;}

.content {position: relative;}

/*----------------------------------------------------
landscape
----------------------------------------------------*/
@media all and (orientation:landscape) {
	#header,
	#headerWrap,
	#storeHeader,
	#storeHeaderWrap,
	.content,
	#footer,
	#footerWrap {width: 480px;}
	#headerWrap,
	#storeHeaderWrap {min-width:480px;}
}

/*----------------------------------------------------
 header
----------------------------------------------------*/
#headerWrap {height: auto; background: #7F0019; color: #FFF;}
#headerWrap a:hover { color: #FFF; }

#header {height: 40px;}
#header a:link, #header a:visited { color: #FFF; }
#header a:active, #header a:hover { color: #BF808C; }
#header img { vertical-align: bottom; }

#siteName {padding: 0; float: left; font-size: 12px; line-height: 1;}
#siteName a {width: 76px; height: 40px; margin-left:10px; background: url(/m/img/header.png) no-repeat left top; -webkit-background-size: 76px 40px; display: block; overflow: hidden; text-indent: -9999px;}
#siteName a:hover {background: url(/m/img/header.png) no-repeat left top; padding-top: 0; margin-top: 0;}

#globalNav {float: right;}
#globalNav li {float: left;}
#globalNav a {display: block; padding: 13px 10px 0; font-size: 13px; font-weight: bold; line-height: 1;}


/*----------------------------------------------------
 storeHeader
----------------------------------------------------*/

#storeHeaderWrap {clear: both; background: #f5f2e9;}
#storeHeader {position:relative; width: auto; margin: 0; padding: 0; border-bottom: 1px solid #ddd7c7; font-size: 13px;}

ul#storeMember,
ul#storeMember li {float: left;}
.loginAfter #storeMember {float: none; margin: 0 10px; line-height: 1.5;}

#smWelcome {padding: 8px 4px 0 0; font-size: 12px;}
#smWelcome span.loginName {font-weight: bold;}
#smWelcome .logout {color: #CCC; font-size: 10px;}
#smLogout {padding: 9px 15px 0 0; color: #CCC; font-size: 10px;}

#smLogin {float: left; margin-right: 5px;}
#smLogin a,
#smSignUp a {display: block; padding: 5px;}
#smSignUp {float: left; padding: 0;}

ul#storeNav {float: left;}
ul#storeNav li {float: left; line-height: 13px;}
ul#storeNav li a {padding: 10px; display: block;}

#storeMember {margin: 4px 0 1px 5px; line-height: 1;}

#headerCartBox {float: right;}
#headerCartBox a {text-decoration: none; color: #333;}
#cButton {top: 6px; line-height: 1px; position: relative; display: block; padding: 10px 10px 10px 17px; background: url(/m/img/icon_cart.png) no-repeat 0 5px; -webkit-background-size: 13px 11px;}
#headerCartBox a:hover #cButton {background: url(/m/img/icon_cart.png) no-repeat 0 5px;}

#hSearch {display: none; clear: both; margin: 0; padding: 0 5px 10px 10px; border-top: 1px solid #eee8d8;}
body#storeTop #hSearch {display: block;}
#hSearch li {padding: 8px 3px 0 0;}
#hSearch #skey {padding: 2px 0 2px 5px; border-top: 1px solid #A3A6AB; border-right: 1px solid #D3D6DD; border-bottom: 1px solid #E2E9EF; border-left: 1px solid #DADAE2; background: #f5f5f5; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; line-height: 15px; height: 20px; font-size: 16px; width: 293px; margin-bottom: 10px;}
#hSearch #sCategory {float: left; padding-top: 0;}
#hSearch #scat {width: 242px; margin: 0 5px 0 0; height: 28px;}
#hSearch #sSubmit {padding: 0;}
#hSearch #sSubmit a {display: block; background: #333; padding: 5px 0 4px; color: #fff; border-radius: 3px; text-align: center; width: 50px; height: 19px; font-size: 12px; font-weight: bold; overflow: hidden}

#breadcrumbs {margin: 0 5px;}
#breadcrumbs ol {background: none;}
#breadcrumbs .current {display: none;}
#breadcrumbs ol li:nth-last-child(1n+3) {display: none;}

#showSearch {background: #f5f2e9 url(/img/store/common/sheaderinputbg.gif) no-repeat 12px 10px; border-radius: 0 0 5px 5px; border:0; position: absolute; right: 10px; top: 0; height: 36px; width: 36px; border: solid #ddd7c7; border-width: 0 1px 1px;}

/*----------------------------------------------------
 main
----------------------------------------------------*/

#main {margin: 10px 0 0; overflow: hidden;}
#main h1 {font-weight: bold; color: #191919;}
#main h1#title {font-size: 14px; padding: 5px 0; margin: 10px 10px 15px;}
h2 {font-size: 13px; font-weight: bold; margin-bottom: 10px; line-height: 1.5;}
h3 {font-size: 12px; font-weight: bold; margin-bottom: 10px;}

.lead {margin: 0 10px 30px;}

.pageNav {border-top: 1px solid #ddd;}

.pageNumber {text-align: center; padding: 12px 0 10px; font-size: 11px;}
.pageNumber .all,
.pageNumber .number {font-size: 14px; font-weight: bold;}
.pageNumber .all {margin-right: 5px;}
.pageNumber .number {margin: 0 5px;}

.pageShift {font-size:14px; padding: 0 0 10px; text-align: center;}
.pageShift ul {display: inline-block;}
.pageShift li {float: left; display: inline;}
.pageShift li.prev {margin-left: 5px; padding: 4px 10px 4px 0;}
.pageShift li.next {margin-right: 5px; padding: 4px 0 4px 10px;}
.pageShift li a,
.pageShift li span {display: block; padding: 4px 10px; text-decoration: none;}
.pageShift li a,
.pageShift li a:visited {background-color: #F3F3F3; color: #333333;}
.pageShift li a:hover,
.pageShift li a:active {background-color: #7F0019; color: #FFFFFF;}

.pageShift li.prev a, .pageShift li.next a,
.pageShift li.prev span, .pageShift li.next span { padding: 0; background-color: #FFFFFF;}
.pageShift li.prev a, .pageShift li.next a,
.pageShift li.prev a:visited, .pageShift li.next a:visited {background-color: #FFFFFF; color: #333333; text-decoration: underline;}
.pageShift li.prev a:hover, .pageShift li.next a:hover {background-color: #FFFFFF; color: #7F0019;}

.pageShift li.nopage a,
.pageShift li.nopage a:hover,
.pageShift li.nopage a:visited {color: #ccc; text-decoration: none; cursor: text; outline: none;}

#main .itemList {margin-bottom: 0;}
#main .itemList ul {margin: 10px 0 0; letter-spacing: normal;}
#main .itemList li {
display: block;
width: auto; margin: 0; padding: 10px 10px 10px 111px; vertical-align: top;
position: relative;
min-height: 101px;
border-bottom: 1px solid #eee;
background: url(/m/img/arrow.png) no-repeat 95% center,
-webkit-gradient(linear, left top, left bottom, from(#fff), to(#f9f9f9));
}
#main .itemList li:last-child {border-bottom: 0;}
#main .itemList a {display: inline; margin-bottom: 5px;}
#main .itemList .thumb {position: absolute; left: 5px; top: 10px; margin-bottom: 0; padding: 3px;border-radius: 3px; display: block; background: #fff;}
#main .itemList .name {margin-right: 5px; text-decoration: none;}
#main .itemList .price {display: block; margin: 5px 0 10px; line-height: 1.2;}
#main .itemList .info ul {margin-right: -3px; overflow: hidden;}
.newicon,
.stockicon {margin-bottom: 3px;}
#main .itemList .info li {
display: inline-block;
padding:1px 0 0;
min-height: 0;
margin: 0 5px 0 0;
border: 1px solid #666;
-webkit-box-shadow: none;
background: none;
}


/*----------------------------------------------------
 footer
----------------------------------------------------*/

#footer {margin-top: 20px; line-height: 16px;}

#snCategory h2,
#snCategory ul li h3,
#snCategory ul li a,
#mobileNav li a {display: block; padding: 20px 10px; border-bottom: 1px solid #ddd7c7; font-size: 12px; margin-bottom: 0; font-weight: normal;}
#snCategory h2 {background: url(/m/img/arrow_down.png) 95% center no-repeat #f5eedd; font-weight: bold; -webkit-background-size: 13px 10px;}
#snCategory ul {display: none;}
#snCategory ul li h3 {background: url(/m/img/arrow_down.png) 95% center no-repeat #eee; -webkit-background-size: 13px 10px;}
#snCategory ul li a {background: url(/m/img/arrow.png) 95% center no-repeat #fff; -webkit-background-size: 10px 13px;}
#mobileNav li a {background: url(/m/img/arrow.png) 95% center no-repeat #f5eedd; -webkit-background-size: 10px 13px;}

#pageEnd {padding: 0 10px; margin-top: 30px; border-bottom: 1px solid #666;}
#pageEnd li {margin-bottom: 10px;}
#pageEnd .siteTop {float: left;}
#pageEnd .pageTop {float: right; font-size: 100%; text-align: right;}
.pageTop a {padding-left: 10px; background: url(/img/common/arrow_up.png) no-repeat left center;}

#copyright {margin-bottom: 20px; padding-top: 5px; border-top: 1px solid #E6E6E6;}
#copyright small {font-size: 10px; font-family: "Lucida Grande","Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3","ＭＳ Ｐゴシック",Arial,sans-serif;}
#copyright {margin-bottom: 0; text-align: center;}

#snCategory .headOpen {background: url(/m/img/arrow_up.png) no-repeat 95% center,
-webkit-gradient(linear, left top, left bottom, from(#f5eedd), to(#f5ddcc));
-webkit-background-size: 13px 10px, auto;
}
#snCategory .headClose {background: url(/m/img/arrow_down.png) no-repeat 95% center,
-webkit-gradient(linear, left top, left bottom, from(#f5eedd), to(#f5ddcc));
-webkit-background-size: 13px 10px, auto;
}
#snCategory .contentOpen {background: url(/m/img/arrow_up.png) 95% center no-repeat #eee;
-webkit-background-size: 13px 10px;
}
#snCategory .contentClose {background: url(/m/img/arrow_down.png) 95% center no-repeat #eee;
-webkit-background-size: 13px 10px;
}


/*----------------------------------------------------
 #history
----------------------------------------------------*/

#history .thumb img {width: 40px; height: 40px;}
#history .itemList li { width: 120px;}
#history .itemList .name {text-decoration:none;}


/*----------------------------------------------------
 #modeSwitch
----------------------------------------------------*/

#modeSwitch {text-align: center; margin: 20px 0; padding: 20px 0; font-size: 18px; background:#333; color: #ccc;}
#modeSwitch dt,
#modeSwitch dd,
#modeSwitch ul,
#modeSwitch li {display: inline;}
#modeSwitch li:first-child {border-right: 1px solid #ccc; margin-right: 10px; padding-right: 15px;}
#modeSwitch li .current {color: #ccc; text-decoration: none;}
#modeSwitch a {color: #fff; font-weight: bold;}
