.content{width: auto; padding: 70px 0 0; text-align: center;}

#signInUp {text-align: left; width: 240px; border-radius: 4px; margin: 0 auto 30px;}
#signInUp p {background: url(/img/top/signin_snsicon.png) no-repeat bottom center; padding-bottom: 40px; font-size: 12px; margin-bottom: 15px;}
.signIn {margin-bottom: 1px;}
.signIn a {display: block; background-color: #333; background-image: url(/img/common/icon_sns.png); background-repeat: no-repeat; background-position: right -112px; color: #ccc; cursor: pointer; text-decoration: none; font-size: 10px;
_zoom:1;
}
.signIn a:hover {background-color: #7f0019; background-position: right -272px; color: #fff;}

.signIn a b {font-size: 12px;}

.signIn.fb a {border-radius: 4px 4px 0 0;}
.signIn.mx a {border-radius: 0 0 4px 4px;}

.signIn a span {padding: 8px 5px 8px 38px; display: block; background-image: url(/img/common/icon_sns.png); background-repeat: no-repeat;}

.signIn.fb a span {background-position: 5px 5px;}
.signIn.tw a span {background-position: 5px -35px;}
.signIn.mx a span {background-position: 5px -73px;}

.signIn.fb a:hover span {background-position: 5px -155px;}
.signIn.tw a:hover span {background-position: 5px -195px;}
.signIn.mx a:hover span {background-position: 5px -233px;}

.signUp {text-align: center; margin-top: 10px;}
.signUp a {background: url(http://www.muji.net/img/common/arrow_right.png) no-repeat left center; padding-left: 10px;}

@media screen and (min-device-width : 320px) and (max-device-width : 569px) {
	body#signin {background: #fff;}
 .content{width: auto; padding: 10px 5px; text-align: center;}
 #signInUp {text-align: left; width: 210px; border-radius: 4px; margin: 0 auto 30px;}
 .lead {font-size: 13px; margin-bottom: 10px;}
}

