/* 靴 */
#T10004 h1 {height: 27px; margin: 0; background-repeat: no-repeat; border: 0; text-indent: -9999px; overflow: hidden; background-image: url(/img/store/section/title/title_t10004.png);}


/* 婦人靴 */
li#S1001401 .img1 {background-image: url(/img/item/4548718638567_50.jpg);}
li#S1001401 .img2 {background-image: url(/img/item/4548718635443_50.jpg);}
#S1001401 h1 {height: 27px; margin: 0; background-repeat: no-repeat; border: 0; text-indent: -9999px; overflow: hidden; background-image: url(/img/store/section/title/title_s1001401.png);}


/* 紳士靴 */
li#S1001402 .img1 {background-image: url(/img/item/4548718635856_50.jpg);}
li#S1001402 .img2 {background-image: url(/img/item/4548718638185_50.jpg);}
#S1001402 h1 {height: 27px; margin: 0; background-repeat: no-repeat; border: 0; text-indent: -9999px; overflow: hidden; background-image: url(/img/store/section/title/title_s1001402.png);}


/* シューケア用品 */
li#S1070309 .img1 {background-image: url(/img/item/4945247554700_50.jpg);}
li#S1070309 .img2 {background-image: url(/img/item/4548076893769_50.jpg);}
#S1070309 h1 {height: 27px; margin: 0; background-repeat: no-repeat; border: 0; text-indent: -9999px; overflow: hidden; background-image: url(/img/store/section/title/title_s1070309.png);}