/* 婦人ウェア */
#T10000 h1 {height: 27px; margin: 0; background-repeat: no-repeat; border: 0; text-indent: -9999px; overflow: hidden; background-image: url(http://www.muji.net/img/store/section/title/title_t10000.png);}


/* お買い得商品（婦人ウェア） */
li#S1000005 .img1 {background: url(http://www.muji.net/img/store/section/icon_pricedown.png) no-repeat 37px 0; width: 100px;}
li#S1000005 .img2 {background: none; width: 0;}
#S1000005 h1 {height: 27px; margin: 0; background-repeat: no-repeat; border: 0; text-indent: -9999px; overflow: hidden; background-image: url(http://www.muji.net/img/store/section/title/title_s1000005.png);}


/* カーディガン・ベスト */
li#S10001 .img1 {background-image: url(http://www.muji.net/img/item/4548718818105_50.jpg);}
li#S10001 .img2 {background-image: url(http://www.muji.net/img/item/4548718818051_50.jpg);}
#S10001 h1 {height: 27px; margin: 0; background-repeat: no-repeat; border: 0; text-indent: -9999px; overflow: hidden; background-image: url(http://www.muji.net/img/store/section/title/title_s10001.png);}


/* セーター */
li#S10002 .img1 {background-image: url(http://www.muji.net/img/item/4548718830435_50.jpg);}
li#S10002 .img2 {background-image: url(http://www.muji.net/img/item/4548718817788_50.jpg);}
#S10002 h1 {height: 27px; margin: 0; background-repeat: no-repeat; border: 0; text-indent: -9999px; overflow: hidden; background-image: url(http://www.muji.net/img/store/section/title/title_s10002.png);}


/* カットソー */
li#S10003 .img1 {background-image: url(http://www.muji.net/img/item/4548718820733_50.jpg);}
li#S10003 .img2 {background-image: url(http://www.muji.net/img/item/4548718822720_50.jpg);}
#S10003 h1 {height: 27px; margin: 0; background-repeat: no-repeat; border: 0; text-indent: -9999px; overflow: hidden; background-image: url(http://www.muji.net/img/store/section/title/title_s10003.png);}


/* トレーナー・パーカー */
li#S10004 .img1 {background-image: url(http://www.muji.net/img/item/4548718826568_50.jpg);}
li#S10004 .img2 {background-image: url(http://www.muji.net/img/item/4548718823901_50.jpg);}
#S10004 h1 {height: 27px; margin: 0; background-repeat: no-repeat; border: 0; text-indent: -9999px; overflow: hidden; background-image: url(http://www.muji.net/img/store/section/title/title_s10004.png);}


/* シャツ */
li#S10005 .img1 {background-image: url(http://www.muji.net/img/item/4548718837564_50.jpg);}
li#S10005 .img2 {background-image: url(http://www.muji.net/img/item/4548718692538_50.jpg);}
#S10005 h1 {height: 27px; margin: 0; background-repeat: no-repeat; border: 0; text-indent: -9999px; overflow: hidden; background-image: url(http://www.muji.net/img/store/section/title/title_s10005.png);}


/* ワンピース・チュニック */
li#S10006 .img1 {background-image: url(http://www.muji.net/img/item/4548718822331_50.jpg);}
li#S10006 .img2 {background-image: url(http://www.muji.net/img/item/4548718820542_50.jpg);}
#S10006 h1 {height: 27px; margin: 0; background-repeat: no-repeat; border: 0; text-indent: -9999px; overflow: hidden; background-image: url(http://www.muji.net/img/store/section/title/title_s10006.png);}


/* ジャケット・コート */
li#S10007 .img1 {background-image: url(http://www.muji.net/img/item/4548718832392_50.jpg);}
li#S10007 .img2 {background-image: url(http://www.muji.net/img/item/4548718832309_50.jpg);}
#S10007 h1 {height: 27px; margin: 0; background-repeat: no-repeat; border: 0; text-indent: -9999px; overflow: hidden; background-image: url(http://www.muji.net/img/store/section/title/title_s10007.png);}


/* 重ねて着るシリーズ */
li#S1000004 .img1 {background-image: url(http://www.muji.net/img/item/4548718917389_50.jpg);}
li#S1000004 .img2 {background-image: url(http://www.muji.net/img/item/4548718917907_50.jpg);}


/* スカート・パンツ */
li#S10008 .img1 {background-image: url(http://www.muji.net/img/item/4548718834570_50.jpg);}
li#S10008 .img2 {background-image: url(http://www.muji.net/img/item/4548718836192_50.jpg);}
#S10008 h1 {height: 27px; margin: 0; background-repeat: no-repeat; border: 0; text-indent: -9999px; overflow: hidden; background-image: url(http://www.muji.net/img/store/section/title/title_s10008.png);}

/* オーガニックコットンデニム */
li#S1000002 .img1 {background-image: url(http://www.muji.net/img/item/4548718833801_50.jpg);}
li#S1000002 .img2 {background-image: url(http://www.muji.net/img/item/4548718834204_50.jpg);}
#S1000002 h1 {height: 27px; margin: 0; background-repeat: no-repeat; border: 0; text-indent: -9999px; overflow: hidden; background-image: url(http://www.muji.net/img/store/section/title/title_s1000002.png);}


/* 婦人デニム（お試し20％OFF） */
li#S1000003 .img1 {background-image: url(http://www.muji.net/img/item/4548718833764_50.jpg);}
li#S1000003 .img2 {background-image: url(http://www.muji.net/img/item/4548718834204_50.jpg);}
#S1000003 h1 {height: 27px; margin: 0; background-repeat: no-repeat; border: 0; text-indent: -9999px; overflow: hidden; background-image: url(http://www.muji.net/img/store/section/title/title_s1000003.png);}


/* ビジネスウェア */
li#S10009 .img1 {background-image: url(http://www.muji.net/img/item/4548718614653_50.jpg);}
li#S10009 .img2 {background-image: url(http://www.muji.net/img/item/4548718614844_50.jpg);}
#S10009 h1 {height: 27px; margin: 0; background-repeat: no-repeat; border: 0; text-indent: -9999px; overflow: hidden; background-image: url(http://www.muji.net/img/store/section/title/title_s10009.png);}


/* MUJI Europe商品 */
li#S10026 .img1 {background-image: url(http://www.muji.net/img/item/4548718974481_50.jpg);}
li#S10026 .img2 {background-image: url(http://www.muji.net/img/item/4548718975785_50.jpg);}
#S10026 h1 {height: 27px; margin: 0; background-repeat: no-repeat; border: 0; text-indent: -9999px; overflow: hidden; background-image: url(http://www.muji.net/img/store/section/title/title_s10026.png);}


/* XSサイズ */
li#S10027 .img1 {background-image: url(http://www.muji.net/img/item/4548718838196_50.jpg);}
li#S10027 .img2 {background-image: url(http://www.muji.net/img/item/4548718820764_50.jpg);}
#S10027 h1 {height: 27px; margin: 0; background-repeat: no-repeat; border: 0; text-indent: -9999px; overflow: hidden; background-image: url(http://www.muji.net/img/store/section/title/title_s10027.png);}


/* XLサイズ */
li#S10028 .img1 {background-image: url(http://www.muji.net/img/item/4548718837809_50.jpg);}
li#S10028 .img2 {background-image: url(http://www.muji.net/img/item/4548718821358_50.jpg);}
#S10028 h1 {height: 27px; margin: 0; background-repeat: no-repeat; border: 0; text-indent: -9999px; overflow: hidden; background-image: url(http://www.muji.net/img/store/section/title/title_s10028.png);}


/* 先行予約・婦人 */
li#S01401 .img1 {background-image: url(http://www.muji.net/img/item/4548718817771_50.jpg);}
li#S01401 .img2 {background-image: url(http://www.muji.net/img/item/4548718818839_50.jpg);}
#S01401 h1 {height: 27px; margin: 0; background-repeat: no-repeat; border: 0; text-indent: -9999px; overflow: hidden; background-image: url(http://www.muji.net/img/store/section/title/title_s01401.png);}


/* おすすめ特集 */
#S10050 h1 {height: 27px; margin: 0; background-repeat: no-repeat; border: 0; text-indent: -9999px; overflow: hidden; background-image: url(http://www.muji.net/img/store/section/title/title_s10050.png);}


/* おすすめ特集 */
#S01433 h1 {height: 27px; margin: 0; background-repeat: no-repeat; border: 0; text-indent: -9999px; overflow: hidden; background-image: url(http://www.muji.net/img/store/section/title/title_s01433.png);}