/* ラグ・クッション */
#T20011 h1 {height: 27px; margin: 0; background-repeat: no-repeat; border: 0; text-indent: -9999px; overflow: hidden; background-image: url(/img/store/section/title/title_t20011.png);}


/* ラグ・マット */
li#S02801 .img1 {background-image: url(/img/item/4945247479973_50.jpg);}
li#S02801 .img2 {background-image: url(/img/item/4945247328356_50.jpg);}
#S02801 h1 {height: 27px; margin: 0; background-repeat: no-repeat; border: 0; text-indent: -9999px; overflow: hidden; background-image: url(/img/store/section/title/title_s02801.png);}


/* クッションカバー・クッション */
li#S02802 .img1 {background-image: url(/img/item/4548076639589_50.jpg);}
li#S02802 .img2 {background-image: url(/img/item/4548076081838_50.jpg);}
#S02802 h1 {height: 27px; margin: 0; background-repeat: no-repeat; border: 0; text-indent: -9999px; overflow: hidden; background-image: url(/img/store/section/title/title_s02802.png);}


/* 座布団・座椅子 */
li#S02803 .img1 {background-image: url(/img/item/4945247578119_50.jpg);}
li#S02803 .img2 {background-image: url(/img/item/4548076937043_50.jpg);}
#S02803 h1 {height: 27px; margin: 0; background-repeat: no-repeat; border: 0; text-indent: -9999px; overflow: hidden; background-image: url(/img/store/section/title/title_s02803.png);}