/* MUJI LEG */
#T20026 h1 {height: 27px; margin: 0; background-repeat: no-repeat; border: 0; text-indent: -9999px; overflow: hidden; background-image: url(/img/store/section/title/title_t20026.png);}


/* MUJI LEG 靴 */
li#S02610 .img1 {background-image: url(/img/item/4548718205301_50.jpg);}
li#S02610 .img2 {background-image: url(/img/item/4548718076581_50.jpg);}
#S02610 h1 {height: 27px; margin: 0; background-repeat: no-repeat; border: 0; text-indent: -9999px; overflow: hidden; background-image: url(/img/store/section/title/title_s02610.png);}


/* MUJI LEG くつ下 */
li#S02611 .img1 {background-image: url(/img/item/4548718270712_50.jpg);}
li#S02611 .img2 {background-image: url(/img/item/4548718072088_50.jpg);}
#S02611 h1 {height: 27px; margin: 0; background-repeat: no-repeat; border: 0; text-indent: -9999px; overflow: hidden; background-image: url(/img/store/section/title/title_s02611.png);}