/* 自転車・アウトドア */
#T20022 h1 {height: 27px; margin: 0; background-repeat: no-repeat; border: 0; text-indent: -9999px; overflow: hidden; background-image: url(/img/store/section/title/title_t20022.png);}


/* 自転車・三輪車 */
li#S1070601 .img1 {background-image: url(/img/item/4548076937043_50.jpg);}
li#S1070601 .img2 {background-image: url(/img/item/4548076891451_50.jpg);}
#S1070601 h1 {height: 27px; margin: 0; background-repeat: no-repeat; border: 0; text-indent: -9999px; overflow: hidden; background-image: url(/img/store/section/title/title_s1070601.png);}


/* 自転車パーツ */
li#S1070602 .img1 {background-image: url(/img/item/4547315875030_50.jpg);}
li#S1070602 .img2 {background-image: url(/img/item/4548718333370_50.jpg);}
#S1070602 h1 {height: 27px; margin: 0; background-repeat: no-repeat; border: 0; text-indent: -9999px; overflow: hidden; background-image: url(/img/store/section/title/title_s1070602.png);}


/* アウトドア */
li#S1070603 .img1 {background-image: url(/img/item/4547315986835_50.jpg);}
li#S1070603 .img2 {background-image: url(/img/item/4548076898788_50.jpg);}
#S1070603 h1 {height: 27px; margin: 0; background-repeat: no-repeat; border: 0; text-indent: -9999px; overflow: hidden; background-image: url(/img/store/section/title/title_s1070603.png);}