/* ベッド */
#T20000 h1 {height: 27px; margin: 0; background-repeat: no-repeat; border: 0; text-indent: -9999px; overflow: hidden; background-image: url(/img/store/section/title/title_t20000.png);}


/* 木製ベッド */
li#S13309 .img1 {background-image: url(/img/item/4548718120673_50.jpg);}
li#S13309 .img2 {background-image: url(/img/item/4548718120789_50.jpg);}
#S13309 h1 {height: 27px; margin: 0; background-repeat: no-repeat; border: 0; text-indent: -9999px; overflow: hidden; background-image: url(/img/store/section/title/title_s13309.png);}


/* 脚付マットレス */
li#S13301 .img1 {background-image: url(/img/item/4548718131952_50.jpg);}
li#S13301 .img2 {background-image: url(/img/item/4548718131952_50.jpg);}
#S13301 h1 {height: 27px; margin: 0; background-repeat: no-repeat; border: 0; text-indent: -9999px; overflow: hidden; background-image: url(/img/store/section/title/title_s13301.png);}


/* 木製ベッドフレーム */
li#S13302 .img1 {background-image: url(/img/item/4548718262281_50.jpg);}
li#S13302 .img2 {background-image: url(/img/item/4548718218707_50.jpg);}
#S13302 h1 {height: 27px; margin: 0; background-repeat: no-repeat; border: 0; text-indent: -9999px; overflow: hidden; background-image: url(/img/store/section/title/title_s13302.png);}


/* ブナ材ベッド */
li#S13308 .img1 {background-image: url(/img/item/4945247436297_50.jpg);}
li#S13308 .img2 {background-image: url(/img/item/4945247578089_50.jpg);}
#S13308 h1 {height: 27px; margin: 0; background-repeat: no-repeat; border: 0; text-indent: -9999px; overflow: hidden; background-image: url(/img/store/section/title/title_s13308.png);}


/* パイン材ベッド */
li#S13304 .img1 {background-image: url(/img/item/4548076605744_50.jpg);}
li#S13304 .img2 {background-image: url(/img/item/4547315396443_50.jpg);}
#S13304 h1 {height: 27px; margin: 0; background-repeat: no-repeat; border: 0; text-indent: -9999px; overflow: hidden; background-image: url(/img/store/section/title/title_s13304.png);}


/* ソファベッド */
li#S13306 .img1 {background-image: url(/img/item/4945247178159_50.jpg);}
li#S13306 .img2 {background-image: url(/img/item/4548718172634_50.jpg);}
#S13306 h1 {height: 27px; margin: 0; background-repeat: no-repeat; border: 0; text-indent: -9999px; overflow: hidden; background-image: url(/img/store/section/title/title_s13306.png);}


/* ベッド用マットレス */
li#S00502 .img1 {background-image: url(/img/item/4945247549010_50.jpg);}
li#S00502 .img2 {background-image: url(/img/item/4945247417180_50.jpg);}
#S00502 h1 {height: 27px; margin: 0; background-repeat: no-repeat; border: 0; text-indent: -9999px; overflow: hidden; background-image: url(/img/store/section/title/title_s00502.png);}


/* ベッドパッド */
li#S13307 .img1 {background-image: url(/img/item/4547315331062_50.jpg);}
li#S13307 .img2 {background-image: url(/img/item/4548076117728_50.jpg);}
#S13307 h1 {height: 27px; margin: 0; background-repeat: no-repeat; border: 0; text-indent: -9999px; overflow: hidden; background-image: url(/img/store/section/title/title_s13307.png);}


/* 多用布・ひざ掛け */
li#S10510 .img1 {background-image: url(/img/item/4547315712410_50.jpg);}
li#S10510 .img2 {background-image: url(/img/item/4548076118671_50.jpg);}
#S10510 h1 {height: 27px; margin: 0; background-repeat: no-repeat; border: 0; text-indent: -9999px; overflow: hidden; background-image: url(/img/store/section/title/title_s10510.png);}