/* 家電・照明 */
#T20013 h1 {height: 27px; margin: 0; background-repeat: no-repeat; border: 0; text-indent: -9999px; overflow: hidden; background-image: url(/img/store/section/title/title_t20013.png);}


/* キッチン家電 */
li#S00701 .img1 {background-image: url(/img/item/4547315923441_50.jpg);}
li#S00701 .img2 {background-image: url(/img/item/4945247362381_50.jpg);}
#S00701 h1 {height: 27px; margin: 0; background-repeat: no-repeat; border: 0; text-indent: -9999px; overflow: hidden; background-image: url(/img/store/section/title/title_s00701.png);}


/* 生活家電 */
li#S00702 .img1 {background-image: url(/img/item/4548718514175_50.jpg);}
li#S00702 .img2 {background-image: url(/img/item/4945247036954_50.jpg);}
#S00702 h1 {height: 27px; margin: 0; background-repeat: no-repeat; border: 0; text-indent: -9999px; overflow: hidden; background-image: url(/img/store/section/title/title_s00702.png);}


/* AV家電 */
li#S00703 .img1 {background-image: url(/img/item/4547315778829_50.jpg);}
li#S00703 .img2 {background-image: url(/img/item/4945247483154_50.jpg);}
#S00703 h1 {height: 27px; margin: 0; background-repeat: no-repeat; border: 0; text-indent: -9999px; overflow: hidden; background-image: url(/img/store/section/title/title_s00703.png);}


/* 理美容家電 */
li#S00704 .img1 {background-image: url(/img/item/4547315779215_50.jpg);}
li#S00704 .img2 {background-image: url(/img/item/4945247362404_50.jpg);}
#S00704 h1 {height: 27px; margin: 0; background-repeat: no-repeat; border: 0; text-indent: -9999px; overflow: hidden; background-image: url(/img/store/section/title/title_s00704.png);}


/* 季節家電 */
li#S00709 .img1 {background-image: url(/img/item/4945247479096_50.jpg);}
li#S00709 .img2 {background-image: url(/img/item/4945247303667_50.jpg);}
#S00709 h1 {height: 27px; margin: 0; background-repeat: no-repeat; border: 0; text-indent: -9999px; overflow: hidden; background-image: url(/img/store/section/title/title_s00709.png);}


/* あったか暖房 */
li#S00707 .img1 {background-image: url(/img/item/4548718029846_50.jpg);}
li#S00707 .img2 {background-image: url(/img/item/4945247390568_50.jpg);}
#S00707 h1 {height: 27px; margin: 0; background-repeat: no-repeat; border: 0; text-indent: -9999px; overflow: hidden; background-image: url(/img/store/section/title/title_s00707.png);}


/* こたつ関連用品 */
li#S00708 .img1 {background-image: url(/img/item/4945247168594_50.jpg);}
li#S00708 .img2 {background-image: url(/img/item/4547315179527_50.jpg);}
#S00708 h1 {height: 27px; margin: 0; background-repeat: no-repeat; border: 0; text-indent: -9999px; overflow: hidden; background-image: url(/img/store/section/title/title_s00708.png);}


/* スタンドライト・フロアライト */
li#S00705 .img1 {background-image: url(/img/item/4548076889281_50.jpg);}
li#S00705 .img2 {background-image: url(/img/item/4945247572032_50.jpg);}
#S00705 h1 {height: 27px; margin: 0; background-repeat: no-repeat; border: 0; text-indent: -9999px; overflow: hidden; background-image: url(/img/store/section/title/title_s00705.png);}


/* ペンダントライト・シーリングライト */
li#S00706 .img1 {background-image: url(/img/item/4548076914785_50.jpg);}
li#S00706 .img2 {background-image: url(/img/item/4945247362572_50.jpg);}
#S00706 h1 {height: 27px; margin: 0; background-repeat: no-repeat; border: 0; text-indent: -9999px; overflow: hidden; background-image: url(/img/store/section/title/title_s00706.png);}


/* 時計 */
li#S1070109 .img1 {background-image: url(/img/item/4548076464860_50.jpg);}
li#S1070109 .img2 {background-image: url(/img/item/4548076853398_50.jpg);}
#S1070109 h1 {height: 27px; margin: 0; background-repeat: no-repeat; border: 0; text-indent: -9999px; overflow: hidden; background-image: url(/img/store/section/title/title_s1070109.png);}


/* 価格見直し家電 */
li#S00711 .img1 {background-image: url(/img/item/4547315772285_50.jpg);}
li#S00711 .img2 {background-image: url(/img/item/4945247241259_50.jpg);}
#S00711 h1 {height: 27px; margin: 0; background-repeat: no-repeat; border: 0; text-indent: -9999px; overflow: hidden; background-image: url(/img/store/section/title/title_s00711.png);}