/* テーブル・チェア */
#T20006 h1 {height: 27px; margin: 0; background-repeat: no-repeat; border: 0; text-indent: -9999px; overflow: hidden; background-image: url(/img/store/section/title/title_t20006.png);}


/* 木製 */
li#S10411 .img1 {background-image: url(/img/item/4548718181544_50.jpg);}
li#S10411 .img2 {background-image: url(/img/item/4548718120833_50.jpg);}
#S10411 h1 {height: 27px; margin: 0; background-repeat: no-repeat; border: 0; text-indent: -9999px; overflow: hidden; background-image: url(/img/store/section/title/title_s10411.png);}


/* タモ材 */
li#S10401 .img1 {background-image: url(/img/item/4547315939640_50.jpg);}
li#S10401 .img2 {background-image: url(/img/item/4547315939664_50.jpg);}
#S10401 h1 {height: 27px; margin: 0; background-repeat: no-repeat; border: 0; text-indent: -9999px; overflow: hidden; background-image: url(/img/store/section/title/title_s10401.png);}


/* チェア・本体カバー */
li#S10402 .img1 {background-image: url(/img/item/4945247209686_50.jpg);}
li#S10402 .img2 {}
#S10402 h1 {height: 27px; margin: 0; background-repeat: no-repeat; border: 0; text-indent: -9999px; overflow: hidden; background-image: url(/img/store/section/title/title_s10402.png);}


/* ブナ材・オーク材 */
li#S10403 .img1 {background-image: url(/img/item/4945247209921_50.jpg);}
li#S10403 .img2 {background-image: url(/img/item/4548076606475_50.jpg);}
#S10403 h1 {height: 27px; margin: 0; background-repeat: no-repeat; border: 0; text-indent: -9999px; overflow: hidden; background-image: url(/img/store/section/title/title_s10403.png);}


/* パイン材 */
li#S10404 .img1 {background-image: url(/img/item/4548076606284_50.jpg);}
li#S10404 .img2 {background-image: url(/img/item/4945247410280_50.jpg);}
#S10404 h1 {height: 27px; margin: 0; background-repeat: no-repeat; border: 0; text-indent: -9999px; overflow: hidden; background-image: url(/img/store/section/title/title_s10404.png);}


/* スチールパイプ・スツール */
li#S10405 .img1 {background-image: url(/img/item/4945247178234_50.jpg);}
li#S10405 .img2 {background-image: url(/img/item/4547315382309_50.jpg);}
#S10405 h1 {height: 27px; margin: 0; background-repeat: no-repeat; border: 0; text-indent: -9999px; overflow: hidden; background-image: url(/img/store/section/title/title_s10405.png);}


/* ワゴン */
li#S10406 .img1 {background-image: url(/img/item/4945247549270_50.jpg);}
li#S10406 .img2 {background-image: url(/img/item/4945247209730_50.jpg);}
#S10406 h1 {height: 27px; margin: 0; background-repeat: no-repeat; border: 0; text-indent: -9999px; overflow: hidden; background-image: url(/img/store/section/title/title_s10406.png);}