/* ソファ */
#T20001 h1 {height: 27px; margin: 0; background-repeat: no-repeat; border: 0; text-indent: -9999px; overflow: hidden; background-image: url(/img/store/section/title/title_t20001.png);}


/* カウチソファ */
li#S10301 .img1 {background-image: url(/img/item/4548718120901_50.jpg);}
li#S10301 .img2 {background-image: url(/img/item/4548718599387_50.jpg);}
#S10301 h1 {height: 27px; margin: 0; background-repeat: no-repeat; border: 0; text-indent: -9999px; overflow: hidden; background-image: url(/img/store/section/title/title_s10301.png);}


/* ワイドアームソファ・カバー */
li#S10302 .img1 {background-image: url(/img/item/4548718710164_50.jpg);}
li#S10302 .img2 {background-image: url(/img/item/4945247276916_50.jpg);}
#S10302 h1 {height: 27px; margin: 0; background-repeat: no-repeat; border: 0; text-indent: -9999px; overflow: hidden; background-image: url(/img/store/section/title/title_s10302.png);}


/* スリムアームソファ・カバー */
li#S10310 .img1 {background-image: url(/img/item/4945247276947_50.jpg);}
li#S10310 .img2 {background-image: url(/img/item/4548718531974_50.jpg);}
#S10310 h1 {height: 27px; margin: 0; background-repeat: no-repeat; border: 0; text-indent: -9999px; overflow: hidden; background-image: url(/img/store/section/title/title_s10310.png);}


/* 革張りワイドアームソファ */
li#S10304 .img1 {background-image: url(/img/item/4548076936916_50.jpg);}
li#S10304 .img2 {background-image: url(/img/item/4945247187649_50.jpg);}
#S10304 h1 {height: 27px; margin: 0; background-repeat: no-repeat; border: 0; text-indent: -9999px; overflow: hidden; background-image: url(/img/store/section/title/title_s10304.png);}


/* 体にフィットするソファ */
li#S10305 .img1 {background-image: url(/img/item/4547315965946_50.jpg);}
li#S10305 .img2 {background-image: url(/img/item/4547315783625_50.jpg);}
#S10305 h1 {height: 27px; margin: 0; background-repeat: no-repeat; border: 0; text-indent: -9999px; overflow: hidden; background-image: url(/img/store/section/title/title_s10305.png);}


/* コンパクトソファ */
li#S10306 .img1 {background-image: url(/img/item/4548718339723_50.jpg);}
li#S10306 .img2 {background-image: url(/img/item/4548718470389_50.jpg);}
#S10306 h1 {height: 27px; margin: 0; background-repeat: no-repeat; border: 0; text-indent: -9999px; overflow: hidden; background-image: url(/img/store/section/title/title_s10306.png);}


/* タモ材ソファ */
li#S10313 .img1 {background-image: url(/img/item/4548718339648_50.jpg);}
li#S10313 .img2 {background-image: url(/img/item/4548718339501_50.jpg);}
#S10313 h1 {height: 27px; margin: 0; background-repeat: no-repeat; border: 0; text-indent: -9999px; overflow: hidden; background-image: url(/img/store/section/title/title_s10313.png);}


/* ふっくら成形ソファ */
li#S10307 .img1 {background-image: url(/img/item/4548076117797_50.jpg);}
li#S10307 .img2 {background-image: url(/img/item/4548076113263_50.jpg);}
#S10307 h1 {height: 27px; margin: 0; background-repeat: no-repeat; border: 0; text-indent: -9999px; overflow: hidden; background-image: url(/img/store/section/title/title_s10307.png);}


/* リラックスソファ・フロアソファ */
li#S10308 .img1 {background-image: url(/img/item/4548076941873_50.jpg);}
li#S10308 .img2 {background-image: url(/img/item/4945247178746_50.jpg);}
#S10308 h1 {height: 27px; margin: 0; background-repeat: no-repeat; border: 0; text-indent: -9999px; overflow: hidden; background-image: url(/img/store/section/title/title_s10308.png);}


/* ソファ（本体）・カバー */
li#S10303 .img1 {background-image: url(/img/item/4548076145004_50.jpg);}
li#S10303 .img2 {background-image: url(/img/item/4548076145042_50.jpg);}
#S10303 h1 {height: 27px; margin: 0; background-repeat: no-repeat; border: 0; text-indent: -9999px; overflow: hidden; background-image: url(/img/store/section/title/title_s10303.png);}


/* ソファベッド */
li#S13306 .img1 {background-image: url(/img/item/4945247178159_50.jpg);}
li#S13306 .img2 {background-image: url(/img/item/4548718172634_50.jpg);}
#S13306 h1 {height: 27px; margin: 0; background-repeat: no-repeat; border: 0; text-indent: -9999px; overflow: hidden; background-image: url(/img/store/section/title/title_s13306.png);}


/* 30%OFFお買い得ソファカバー */
li#S10312 .img1 {background-image: url(/img/item/4548076446965_50.jpg);}
li#S10312 .img2 {background-image: url(/img/item/4548076924692_50.jpg);}
#S10312 h1 {height: 27px; margin: 0; background-repeat: no-repeat; border: 0; text-indent: -9999px; overflow: hidden; background-image: url(/img/store/section/title/title_s10312.png);}