/* スリッパ・タオル */
#T20012 h1 {height: 27px; margin: 0; background-repeat: no-repeat; border: 0; text-indent: -9999px; overflow: hidden; background-image: url(/img/store/section/title/title_t20012.png);}


/* スリッパ */
li#S1070311 .img1 {background-image: url(/img/item/4548718775507_50.jpg);}
li#S1070311 .img2 {background-image: url(/img/item/4548718775804_50.jpg);}
#S1070311 h1 {height: 27px; margin: 0; background-repeat: no-repeat; border: 0; text-indent: -9999px; overflow: hidden; background-image: url(/img/store/section/title/title_s1070311.png);}


/* タオル */
li#S1070303 .img1 {background-image: url(/img/item/4945247481006_50.jpg);}
li#S1070303 .img2 {background-image: url(/img/item/4548076746096_50.jpg);}
#S1070303 h1 {height: 27px; margin: 0; background-repeat: no-repeat; border: 0; text-indent: -9999px; overflow: hidden; background-image: url(/img/store/section/title/title_s1070303.png);}