/* MUJI manufactured by THONET */
#T20024 h1 {height: 27px; margin: 0; background-repeat: no-repeat; border: 0; text-indent: -9999px; overflow: hidden; background-image: url(/img/store/section/title/title_t20024.png);}


/* BENDING（曲木） */
li#S14401 .img1 {background-image: url(/img/item/4548718113989_50.jpg);}
li#S14401 .img2 {background-image: url(/img/item/4548718013357_50.jpg);}
#S14401 h1 {height: 27px; margin: 0; background-repeat: no-repeat; border: 0; text-indent: -9999px; overflow: hidden; background-image: url(/img/store/section/title/title_s14401.png);}


/* PIPE（パイプ） */
li#S14402 .img1 {background-image: url(/img/item/4548718031689_50.jpg);}
li#S14402 .img2 {background-image: url(/img/item/4548718114047_50.jpg);}
#S14402 h1 {height: 27px; margin: 0; background-repeat: no-repeat; border: 0; text-indent: -9999px; overflow: hidden; background-image: url(/img/store/section/title/title_s14402.png);}