/* デスク・チェア */
#T20007 h1 {height: 27px; margin: 0; background-repeat: no-repeat; border: 0; text-indent: -9999px; overflow: hidden; background-image: url(/img/store/section/title/title_t20007.png);}


/* 木製デスク */
li#S10407 .img1 {background-image: url(/img/item/4547315859771_50.jpg);}
li#S10407 .img2 {background-image: url(/img/item/4945247579246_50.jpg);}
#S10407 h1 {height: 27px; margin: 0; background-repeat: no-repeat; border: 0; text-indent: -9999px; overflow: hidden; background-image: url(/img/store/section/title/title_s10407.png);}


/* デスク（システムタイプ） */
li#S10408 .img1 {background-image: url(/img/item/4548718121083_50.jpg);}
li#S10408 .img2 {background-image: url(/img/item/4548076652090_50.jpg);}
#S10408 h1 {height: 27px; margin: 0; background-repeat: no-repeat; border: 0; text-indent: -9999px; overflow: hidden; background-image: url(/img/store/section/title/title_s10408.png);}


/* ワーキングチェア */
li#S10409 .img1 {background-image: url(/img/item/4548718121304_50.jpg);}
li#S10409 .img2 {background-image: url(/img/item/4945247124316_50.jpg);}
#S10409 h1 {height: 27px; margin: 0; background-repeat: no-repeat; border: 0; text-indent: -9999px; overflow: hidden; background-image: url(/img/store/section/title/title_s10409.png);}


/* キャビネット */
li#S10410 .img1 {background-image: url(/img/item/4548076655060_50.jpg);}
li#S10410 .img2 {background-image: url(/img/item/4548718121908_50.jpg);}
#S10410 h1 {height: 27px; margin: 0; background-repeat: no-repeat; border: 0; text-indent: -9999px; overflow: hidden; background-image: url(/img/store/section/title/title_s10410.png);}