/* ヘアケア */
#T20203 h1 {height: 27px; margin: 0; background-repeat: no-repeat; border: 0; text-indent: -9999px; overflow: hidden; background-image: url(/img/store/section/title/title_t20203.png);}


/* シャンプー・リンス */
li#S107020701 .img1 {background-image: url(/img/item/4548076746232_50.jpg);}
li#S107020701 .img2 {background-image: url(/img/item/4548076101017_50.jpg);}
#S107020701 h1 {height: 27px; margin: 0; background-repeat: no-repeat; border: 0; text-indent: -9999px; overflow: hidden; background-image: url(/img/store/section/title/title_s107020701.png);}


/* ヘア小物 */
li#S107020801 .img1 {background-image: url(/img/item/4548718122776_50.jpg);}
li#S107020801 .img2 {background-image: url(/img/item/4548076152996_50.jpg);}
#S107020801 h1 {height: 27px; margin: 0; background-repeat: no-repeat; border: 0; text-indent: -9999px; overflow: hidden; background-image: url(/img/store/section/title/title_s107020801.png);}