/* 衛生用品・ケア用品 */
#T20206 h1 {height: 27px; margin: 0; background-repeat: no-repeat; border: 0; text-indent: -9999px; overflow: hidden; background-image: url(/img/store/section/title/title_t20206.png);}


/* コットン・衛生用品 */
li#S1070210 .img1 {background-image: url(/img/item/4945247015553_50.jpg);}
li#S1070210 .img2 {background-image: url(/img/item/4548718555109_50.jpg);}
#S1070210 h1 {height: 27px; margin: 0; background-repeat: no-repeat; border: 0; text-indent: -9999px; overflow: hidden; background-image: url(/img/store/section/title/title_s1070210.png);}


/* メンズケア */
li#S1070203 .img1 {background-image: url(/img/item/4548076778943_50.jpg);}
li#S1070203 .img2 {background-image: url(/img/item/4548076778950_50.jpg);}
#S1070203 h1 {height: 27px; margin: 0; background-repeat: no-repeat; border: 0; text-indent: -9999px; overflow: hidden; background-image: url(/img/store/section/title/title_s1070203.png);}


/* 入浴剤 */
li#S1070302 .img1 {background-image: url(/img/item/4548076865797_50.jpg);}
li#S1070302 .img2 {background-image: url(/img/item/4548076865872_50.jpg);}
#S1070302 h1 {height: 27px; margin: 0; background-repeat: no-repeat; border: 0; text-indent: -9999px; overflow: hidden; background-image: url(/img/store/section/title/title_s1070302.png);}


/* フィットネス用品 */
li#S11101 .img1 {background-image: url(/img/item/4548718561773_50.jpg);}
li#S11101 .img2 {background-image: url(/img/item/4945247257212_50.jpg);}
#S11101 h1 {height: 27px; margin: 0; background-repeat: no-repeat; border: 0; text-indent: -9999px; overflow: hidden; background-image: url(/img/store/section/title/title_s11101.png);}


/* 理美容家電 */
li#S00704 .img1 {background-image: url(/img/item/4547315779215_50.jpg);}
li#S00704 .img2 {background-image: url(/img/item/4945247362404_50.jpg);}
#S00704 h1 {height: 27px; margin: 0; background-repeat: no-repeat; border: 0; text-indent: -9999px; overflow: hidden; background-image: url(/img/store/section/title/title_s00704.png);}