/* メイクアップ */
#T20202 h1 {height: 27px; margin: 0; background-repeat: no-repeat; border: 0; text-indent: -9999px; overflow: hidden; background-image: url(/img/store/section/title/title_t20202.png);}


/* ベースメイク */
li#S107020201 .img1 {background-image: url(/img/item/4548076865568_50.jpg);}
li#S107020201 .img2 {background-image: url(/img/item/4945247505948_50.jpg);}
#S107020201 h1 {height: 27px; margin: 0; background-repeat: no-repeat; border: 0; text-indent: -9999px; overflow: hidden; background-image: url(/img/store/section/title/title_s107020201.png);}


/* ファンデーション */
li#S107020202 .img1 {background-image: url(/img/item/4547315587926_50.jpg);}
li#S107020202 .img2 {background-image: url(/img/item/4945247543735_50.jpg);}
#S107020202 h1 {height: 27px; margin: 0; background-repeat: no-repeat; border: 0; text-indent: -9999px; overflow: hidden; background-image: url(/img/store/section/title/title_s107020202.png);}


/* ルースパウダー */
li#S107020203 .img1 {background-image: url(/img/item/4548076865469_50.jpg);}
li#S107020203 .img2 {background-image: url(/img/item/4945247903539_50.jpg);}
#S107020203 h1 {height: 27px; margin: 0; background-repeat: no-repeat; border: 0; text-indent: -9999px; overflow: hidden; background-image: url(/img/store/section/title/title_s107020203.png);}


/* リップメイク */
li#S107020204 .img1 {background-image: url(/img/item/4548076736868_50.jpg);}
li#S107020204 .img2 {background-image: url(/img/item/4945247994506_50.jpg);}
#S107020204 h1 {height: 27px; margin: 0; background-repeat: no-repeat; border: 0; text-indent: -9999px; overflow: hidden; background-image: url(/img/store/section/title/title_s107020204.png);}


/* アイメイク */
li#S107020205 .img1 {background-image: url(/img/item/4548718158638_50.jpg);}
li#S107020205 .img2 {background-image: url(/img/item/4548718554621_50.jpg);}
#S107020205 h1 {height: 27px; margin: 0; background-repeat: no-repeat; border: 0; text-indent: -9999px; overflow: hidden; background-image: url(/img/store/section/title/title_s107020205.png);}


/* フェイスカラー */
li#S107020206 .img1 {background-image: url(/img/item/4548718405435_50.jpg);}
li#S107020206 .img2 {background-image: url(/img/item/4547315854059_50.jpg);}
#S107020206 h1 {height: 27px; margin: 0; background-repeat: no-repeat; border: 0; text-indent: -9999px; overflow: hidden; background-image: url(/img/store/section/title/title_s107020206.png);}


/* ネイルカラー */
li#S107020207 .img1 {background-image: url(/img/item/4547315471362_50.jpg);}
li#S107020207 .img2 {background-image: url(/img/item/4548718012244_50.jpg);}
#S107020207 h1 {height: 27px; margin: 0; background-repeat: no-repeat; border: 0; text-indent: -9999px; overflow: hidden; background-image: url(/img/store/section/title/title_s107020207.png);}


/* フェイスメイク用具 */
li#S107020208 .img1 {background-image: url(/img/item/4945247506723_50.jpg);}
li#S107020208 .img2 {background-image: url(/img/item/4548076170235_50.jpg);}
#S107020208 h1 {height: 27px; margin: 0; background-repeat: no-repeat; border: 0; text-indent: -9999px; overflow: hidden; background-image: url(/img/store/section/title/title_s107020208.png);}


/* スポンジ・パフ */
li#S107020209 .img1 {background-image: url(/img/item/4945247506730_50.jpg);}
li#S107020209 .img2 {background-image: url(/img/item/4548076748205_50.jpg);}
#S107020209 h1 {height: 27px; margin: 0; background-repeat: no-repeat; border: 0; text-indent: -9999px; overflow: hidden; background-image: url(/img/store/section/title/title_s107020209.png);}


/* アイメイク用具 */
li#S107020210 .img1 {background-image: url(/img/item/4548076105442_50.jpg);}
li#S107020210 .img2 {background-image: url(/img/item/4547315276851_50.jpg);}
#S107020210 h1 {height: 27px; margin: 0; background-repeat: no-repeat; border: 0; text-indent: -9999px; overflow: hidden; background-image: url(/img/store/section/title/title_s107020210.png);}


/* リップメイク用具 */
li#S107020211 .img1 {background-image: url(/img/item/4934761534121_50.jpg);}
li#S107020211 .img2 {background-image: url(/img/item/4548076105473_50.jpg);}
#S107020211 h1 {height: 27px; margin: 0; background-repeat: no-repeat; border: 0; text-indent: -9999px; overflow: hidden; background-image: url(/img/store/section/title/title_s107020211.png);}


/* ネイルメイク用具 */
li#S107020212 .img1 {background-image: url(/img/item/4548076103264_50.jpg);}
li#S107020212 .img2 {background-image: url(/img/item/4547315276738_50.jpg);}
#S107020212 h1 {height: 27px; margin: 0; background-repeat: no-repeat; border: 0; text-indent: -9999px; overflow: hidden; background-image: url(/img/store/section/title/title_s107020212.png);}