/* ボディケア */
#T20204 h1 {height: 27px; margin: 0; background-repeat: no-repeat; border: 0; text-indent: -9999px; overflow: hidden; background-image: url(/img/store/section/title/title_t20204.png);}


/* ボディソープ・石けん */
li#S107020702 .img1 {background-image: url(/img/item/4945247279580_50.jpg);}
li#S107020702 .img2 {background-image: url(/img/item/4548076101178_50.jpg);}
#S107020702 h1 {height: 27px; margin: 0; background-repeat: no-repeat; border: 0; text-indent: -9999px; overflow: hidden; background-image: url(/img/store/section/title/title_s107020702.png);}


/* ボディ用品 */
li#S107020802 .img1 {background-image: url(/img/item/4945247506501_50.jpg);}
li#S107020802 .img2 {background-image: url(/img/item/4945247279528_50.jpg);}
#S107020802 h1 {height: 27px; margin: 0; background-repeat: no-repeat; border: 0; text-indent: -9999px; overflow: hidden; background-image: url(/img/store/section/title/title_s107020802.png);}


/* フット・ハンドケア用品 */
li#S107020803 .img1 {background-image: url(/img/item/4945247103670_50.jpg);}
li#S107020803 .img2 {background-image: url(/img/item/4945247308709_50.jpg);}
#S107020803 h1 {height: 27px; margin: 0; background-repeat: no-repeat; border: 0; text-indent: -9999px; overflow: hidden; background-image: url(/img/store/section/title/title_s107020803.png);}