/* レトルト・調味料 */
#T30001 h1 {height: 27px; margin: 0; background-repeat: no-repeat; border: 0; text-indent: -9999px; overflow: hidden; background-image: url(/img/store/section/title/title_t30001.png);}


/* あたためるだけ */
li#S10812 .img1 {background-image: url(/img/item/4548718182480_50.jpg);}
li#S10812 .img2 {background-image: url(/img/item/4548718093625_50.jpg);}
#S10812 h1 {height: 27px; margin: 0; background-repeat: no-repeat; border: 0; text-indent: -9999px; overflow: hidden; background-image: url(/img/store/section/title/title_s10812.png);}


/* ちょっとひと手間 */
li#S10813 .img1 {background-image: url(/img/item/4548718182398_50.jpg);}
li#S10813 .img2 {background-image: url(/img/item/4548718402687_50.jpg);}
#S10813 h1 {height: 27px; margin: 0; background-repeat: no-repeat; border: 0; text-indent: -9999px; overflow: hidden; background-image: url(/img/store/section/title/title_s10813.png);}


/* キットで本格的 */
li#S10814 .img1 {background-image: url(/img/item/4945247000627_50.jpg);}
li#S10814 .img2 {background-image: url(/img/item/4945247389791_50.jpg);}
#S10814 h1 {height: 27px; margin: 0; background-repeat: no-repeat; border: 0; text-indent: -9999px; overflow: hidden; background-image: url(/img/store/section/title/title_s10814.png);}


/* パスタ・パスタソース */
li#S10807 .img1 {background-image: url(/img/item/4548718182374_50.jpg);}
li#S10807 .img2 {background-image: url(/img/item/4945247579376_50.jpg);}
#S10807 h1 {height: 27px; margin: 0; background-repeat: no-repeat; border: 0; text-indent: -9999px; overflow: hidden; background-image: url(/img/store/section/title/title_s10807.png);}


/* カレー */
li#S3000303 .img1 {background-image: url(/img/item/4548076914679_50.jpg);}
li#S3000303 .img2 {background-image: url(/img/item/4945247000665_50.jpg);}
#S3000303 h1 {height: 27px; margin: 0; background-repeat: no-repeat; border: 0; text-indent: -9999px; overflow: hidden; background-image: url(/img/store/section/title/title_s3000303.png);}


/* エスニック */
li#S3000302 .img1 {background-image: url(/img/item/4945247538120_50.jpg);}
li#S3000302 .img2 {background-image: url(/img/item/4945247000603_50.jpg);}
#S3000302 h1 {height: 27px; margin: 0; background-repeat: no-repeat; border: 0; text-indent: -9999px; overflow: hidden; background-image: url(/img/store/section/title/title_s3000302.png);}


/* お粥・ご飯の素 */
li#S10809 .img1 {background-image: url(/img/item/4945247579482_50.jpg);}
li#S10809 .img2 {background-image: url(/img/item/4548718182404_50.jpg);}
#S10809 h1 {height: 27px; margin: 0; background-repeat: no-repeat; border: 0; text-indent: -9999px; overflow: hidden; background-image: url(/img/store/section/title/title_s10809.png);}


/* スープ */
li#S10805 .img1 {background-image: url(/img/item/4548076665045_50.jpg);}
li#S10805 .img2 {background-image: url(/img/item/4548718026753_50.jpg);}
#S10805 h1 {height: 27px; margin: 0; background-repeat: no-repeat; border: 0; text-indent: -9999px; overflow: hidden; background-image: url(/img/store/section/title/title_s10805.png);}


/* 調味料 */
li#S10806 .img1 {background-image: url(/img/item/4548718182688_50.jpg);}
li#S10806 .img2 {background-image: url(/img/item/4945247538137_50.jpg);}
#S10806 h1 {height: 27px; margin: 0; background-repeat: no-repeat; border: 0; text-indent: -9999px; overflow: hidden; background-image: url(/img/store/section/title/title_s10806.png);}


/* レトルト・調味料すべて */
li#S10810 .img1 {background-image: url(/img/item/4945247537871_50.jpg);}
li#S10810 .img2 {background-image: url(/img/item/4548718182466_50.jpg);}
#S10810 h1 {height: 27px; margin: 0; background-repeat: no-repeat; border: 0; text-indent: -9999px; overflow: hidden; background-image: url(/img/store/section/title/title_s10810.png);}