
/*以下トートバッグ流用*/
/* CLEARFIX */
.annotation dl,
.aside {zoom: 1;}
.annotation dl:after,
.aside:after {content: "."; display: block; visibility: hidden; clear: both; height: 0; font-size: 0; line-height: 0;}

h1 {border-bottom: 0; margin-bottom: 0; padding-bottom: 0;}

dl.annotation{margin: 5px 0;}
dl.annotation dt,
dl.annotation dd{float:left; display:inline;}

.column3 li {margin-bottom: 20px;}

.aside h3:first-child {margin-top: 0;}
.aside p {margin-bottom: 10px;}
.aside img {float: left; margin-right: 10px;}