/* CLEARFIX */
.column4 {zoom: 1;}
.column4:after {content: "."; display: block; visibility: hidden; clear: both; height: 0; font-size: 0; line-height: 0;}

h1 {border-bottom: 0; margin-bottom: 0; padding-bottom: 0;}
h4 {font-weight:bold;}

.column4 {margin-right:-20px}
.column4 .col {
float:left;
margin-right:16px;
width:163px;
}